{% if url %}
  <a
    href="{{ url }}"
    class="{{ link_class }}"
    {% if tabindex %}
      tabindex="0"
    {% endif %}
  >
{% endif %}

{%- capture icon -%}
    {%- capture shared_svg_attrs -%}
        class="svg-icon svg-icon--{{ id | replace: '_', '-' }} {% if icon_class %}{{ icon_class }}{% endif %}"
        aria-hidden="true"
        id="{{ icon_id }}"
        focusable="false"
        role="presentation"
        xmlns="http://www.w3.org/2000/svg"
        data-icon-theme="{{ settings.iconset }}"
    {%- endcapture -%}

    {% assign icon_name = id | replace: '-', '_' %}
    {% assign icon_name = 'general.icons.' | append: icon_name %}
    {% assign icon_name = icon_name | t %}

    {% capture icon_title %}
        <title>{{ 'general.icons.icon_title' | t: name: icon_name }}</title>
    {% endcapture %}

    {% render 'icon-common', id: id, icon_id: icon_id, icon_class: icon_class, url: url, link_class: link_class, shared_svg_attrs: shared_svg_attrs %}

    {% if id == 'bag' %}
        <svg {{ shared_svg_attrs }}  width="24" height="24" viewBox="0 0 24 24">
            {{ icon_title }}
            <g id="ico-charm-cart" transform="translate(-340 -401)">
                <path id="Path_11" data-name="Path 11" d="M0,0H24V24H0Z" transform="translate(340 401)" fill="none"/>
                <path id="cart-icon" d="M12.2,0c.167,0,.333,0,.417.24l2.5,3.2.083.24.8,11.2a2.061,2.061,0,0,1-2.167,2.08H2.167A2.125,2.125,0,0,1,0,14.88L.8,3.68l.083-.24,2.5-3.2A.461.461,0,0,1,3.8,0h8.4Zm2.254,4.24H1.527l.273-.4L1,14.88A1.169,1.169,0,0,0,2.167,16H13.833A1.117,1.117,0,0,0,15,14.88L14.2,3.84ZM5.167,6.88A2.778,2.778,0,0,0,8,9.6a2.778,2.778,0,0,0,2.833-2.72h1.083A3.8,3.8,0,0,1,8.042,10.6,3.8,3.8,0,0,1,4.167,6.88Zm7.142-5.84H4.133L2.467,3.2H13.783L12.117.96Z" transform="translate(344 404.52)"/>
            </g>
        </svg>
    {% endif %}
    
    {% if id == 'heart' %}
       <svg {{ shared_svg_attrs }} version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 28 28" width="28" height="28" style="enable-background:new 0 0 28 28;" xml:space="preserve">
        <style type="text/css">
            
        </style>
        <g id="heart-2">
            <path id="icons8-heart" d="M8.8,4c-3.5,0-6.3,2.8-6.3,6.3c0,2.4,1.8,4.6,3.9,6.8s4.8,4.6,7,6.7c0.3,0.3,0.9,0.3,1.2,0
                c2.1-2.1,4.8-4.4,7-6.7s3.9-4.5,3.9-6.8c0-3.5-2.8-6.3-6.3-6.3c-2.1,0.1-4,1.2-5.2,2.9C12.8,5.2,10.9,4.1,8.8,4z"/>
        </g>
        </svg>
   {% endif %}

   {% if id == 'header-heart' %}
        <svg {{ shared_svg_attrs }} width="28" height="28" viewBox="0 0 28 28" >
            {{ icon_title }}
            <g id="Heart" transform="translate(-0.447 0.256)">
                <rect id="Rectangle_2916" data-name="Rectangle 2916" width="27.391" height="28" transform="translate(0.447 -0.256)" fill="none"/>
                <path id="heart-2" data-name="heart" d="M21.874,33.411a6.622,6.622,0,0,0-8.834.62l-.933.936-.933-.932c-1.932-1.937-5.828-3.1-8.834-.624a6.448,6.448,0,0,0-.469,9.537l9.16,9.17a1.513,1.513,0,0,0,1.07.445,1.494,1.494,0,0,0,1.07-.445l9.16-9.17A6.441,6.441,0,0,0,21.874,33.411Zm-.62,8.518L12.126,51.1l-9.165-9.17a5.005,5.005,0,0,1,.365-7.4c2.594-2.148,5.643-.592,6.76.528l2.021,2.024,2.021-2.024c1.1-1.1,4.175-2.662,6.76-.528a5.009,5.009,0,0,1,.365,7.4Z" transform="translate(1.929 -28.024)" />
            </g>
        </svg>

   {% endif %}

    {% if id == 'bars' %}
        <svg {{ shared_svg_attrs }}  width="24" height="24" viewBox="0 0 24 24">
            {{ icon_title }}
            <g id="ico-charm-hamburger" transform="translate(-251 -401)">
                <path id="Path_8" data-name="Path 8" d="M0,0H24V24H0Z" transform="translate(251 401)" fill="none"/>
                <path id="hamburger" d="M14,9.333v1.011H0V9.333Zm0-4.667V5.678H0V4.667ZM14,0V1.011H0V0Z" transform="translate(256 407.828)"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'search' %}
        <svg {{ shared_svg_attrs }} width="24" height="24" viewBox="0 0 24 24">
            {{ icon_title }}
            <g id="ico-charm-search" transform="translate(-281 -401)">
                <path id="Path_9" data-name="Path 9" d="M0,0H24V24H0Z" transform="translate(281 401)" fill="none"/>
                <path id="search" d="M7.686,0a7.688,7.688,0,0,1,5.746,12.786l3.516,3.51-.675.691-3.489-3.553A7.688,7.688,0,1,1,7.686,0Zm0,.971A6.717,6.717,0,1,0,14.4,7.688,6.717,6.717,0,0,0,7.686.971Z" transform="translate(284.533 404.507)"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'user' %}
        <svg  {{ shared_svg_attrs }}  width="24" height="24" viewBox="0 0 24 24">
            {{ icon_title }}
            <g id="ico-charm-account" transform="translate(-311 -401)">
                <path id="Path_10" data-name="Path 10" d="M0,0H24V24H0Z" transform="translate(311 401)" fill="none"/>
                <path id="Union_1" data-name="Union 1" d="M4624-2005.4a8.6,8.6,0,0,1,8.6-8.6,8.6,8.6,0,0,1,8.6,8.6,8.6,8.6,0,0,1-8.6,8.6A8.6,8.6,0,0,1,4624-2005.4Zm13.479,5.9c-.409-1.44-1.235-2.169-2.2-2.169l-5.274.081c-1.051,0-1.775.654-2.262,2.1A7.545,7.545,0,0,0,4637.479-1999.5Zm-2.2-3.143a2.982,2.982,0,0,1,2.92,2.433,7.628,7.628,0,0,0,1.306-8.216,7.627,7.627,0,0,0-6.9-4.521,7.628,7.628,0,0,0-6.9,4.521,7.624,7.624,0,0,0,1.307,8.216,3.129,3.129,0,0,1,3-2.433Zm-2.6-10.3h-.023Zm-.162,0h0Zm-2.84,5.841a2.84,2.84,0,0,1,2.84-2.839,2.839,2.839,0,0,1,2.839,2.839,2.839,2.839,0,0,1-2.839,2.839A2.84,2.84,0,0,1,4629.679-2007.1Zm.974,0a1.868,1.868,0,0,0,1.866,1.866,1.868,1.868,0,0,0,1.865-1.866,1.868,1.868,0,0,0-1.865-1.866A1.868,1.868,0,0,0,4630.653-2007.1Z" transform="translate(-4309.601 2418.4)"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'plus' %}
        <svg {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72" >
            {{ icon_title }}
            <g id="Plus3">
                <rect class="icon-plus-y" width="54" height="4" rx="2" y="34" x="9"/>
                <rect class="icon-plus-x" width="4" height="54" rx="2" y="9" x="34"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'minus' %}
        <svg {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72" >
            {{ icon_title }}
            <g id="Minus">
                <rect class="icon-minus" width="54" height="4" rx="2" y="34" x="9"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'close' %}
        <svg {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72" {% if tabindex %}tabindex="0"{% endif %}>
            {{ icon_title }}
            <g transform="rotate(-90 -0.00000157361 72)" id="Close">
                <rect x="0" y="72" fill="none" height="72" width="72" id="Rectangle_29187"/>
                <path d="m58.76152,133.58844l-22.762,-22.577l-22.762,22.577a1.413,1.413 0 0 1 -1.994,0l-0.828,-0.824a1.381,1.381 0 0 1 0,-1.976l22.973,-22.787l-22.973,-22.788a1.387,1.387 0 0 1 0,-1.98l0.828,-0.824a1.422,1.422 0 0 1 1.994,0l22.764,22.579l22.76,-22.579a1.425,1.425 0 0 1 2,0l0.828,0.824a1.39,1.39 0 0 1 0,1.98l-22.969,22.788l22.969,22.787a1.389,1.389 0 0 1 0,1.979l-0.828,0.82a1.415,1.415 0 0 1 -2,0l0,0.001z" id="Union_3"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'arrow-right' %}
        <svg {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72" >
            {{ icon_title }}
            <g id="Arrow_right" data-name="Arrow right" transform="translate(108 583) rotate(180)">
                <g id="arr_right" transform="translate(23289 11206)">
                    <g id="Group_11366" data-name="Group 11366">
                        <rect id="Rectangle_291811" data-name="Rectangle 2918" width="72" height="72" transform="translate(-23253 -10695)" fill="none"/>
                        <path id="chevron-right" d="M35.628,87.789l.876-.876a1.487,1.487,0,0,0,0-2.1L12.281,60.587,36.5,36.365a1.487,1.487,0,0,0,0-2.1l-.876-.876a1.487,1.487,0,0,0-2.1,0L7.375,59.536a1.487,1.487,0,0,0,0,2.1l26.15,26.15a1.487,1.487,0,0,0,2.1,0Z" transform="translate(-23239.939 -10719.95)"/>
                    </g>
                </g>
            </g>
        </svg>
    {% endif %}

    {% if id == 'arrow-left' %}
        <svg {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72" >
            {{ icon_title }}
            <g id="Arrow_left" data-name="Arrow left" transform="translate(-36 -511)">
                <g id="arr_left" transform="translate(23289 11206)">
                    <g id="Group_11367" data-name="Group 11367">
                        <rect id="Rectangle_29189" data-name="Rectangle 2918" width="72" height="72" transform="translate(-23253 -10695)" fill="none"/>
                        <path id="chevron-left" d="M35.628,87.789l.876-.876a1.487,1.487,0,0,0,0-2.1L12.281,60.587,36.5,36.365a1.487,1.487,0,0,0,0-2.1l-.876-.876a1.487,1.487,0,0,0-2.1,0L7.375,59.536a1.487,1.487,0,0,0,0,2.1l26.15,26.15a1.487,1.487,0,0,0,2.1,0Z" transform="translate(-23239.939 -10719.95)"/>
                    </g>
                </g>
            </g>
        </svg>
    {% endif %}

    {% if id == 'arrow-down' %}
        <svg {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72" >
            {{ icon_title }}
            <g transform="rotate(-90 -0.00000157361 72)" data-name="Arrow down" id="Arrow_left">
                <g data-name="Group 11368" id="Group_11368">
                    <rect x="0" y="72" fill="none" height="72" width="72" data-name="Rectangle 291855" id="Rectangle_291855"/>
                    <path d="m48.688,81.162l0.876,0.876a1.487,1.487 0 0 1 0,2.1l-24.222,24.225l24.223,24.223a1.487,1.487 0 0 1 0,2.1l-0.876,0.876a1.487,1.487 0 0 1 -2.1,0l-26.154,-26.148a1.487,1.487 0 0 1 0,-2.1l26.151,-26.153a1.487,1.487 0 0 1 2.1,0l0.002,0.001z" id="chevron-left"/>
                </g>
            </g>
        </svg>
    {% endif %}

    {% if id == 'star' %}
        <svg  {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72">
            <g id="Star" transform="translate(-0.004 0.156)">
                <rect id="Rectangle_2919" data-name="Rectangle 2919" width="72" height="72" transform="translate(0.004 -0.156)" fill="none"/>
                <path id="star-2" data-name="star" d="M78.743,19.667,61.979,18.6,54.486,2.031a3.675,3.675,0,0,0-6.586,0L40.407,18.6,23.644,19.667a3.674,3.674,0,0,0-2.031,6.265L36.036,37.75l-5.163,16.7A3.67,3.67,0,0,0,36.2,58.312l15-10.178,15,10.178a3.672,3.672,0,0,0,5.324-3.867l-5.163-16.7L80.774,25.932a3.674,3.674,0,0,0-2.031-6.265Zm-16.328,16.8L67.9,55.054,51.193,43.992,34.5,55.065l5.485-18.588L24.171,23.293,42.84,21.962l8.353-18.3,8.353,18.3,18.669,1.331-15.8,13.172Z" transform="translate(-15.011 6.802)"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'star_fill' %}
        <svg  {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72">
            <g id="Staf_fill" transform="translate(-0.225 0.156)">
                <rect id="Rectangle_2920" data-name="Rectangle 2920" width="72" height="72" transform="translate(0.225 -0.156)" fill="none"/>
                <path id="star" d="M78.743,19.667,61.979,18.6,54.486,2.031a3.675,3.675,0,0,0-6.586,0L40.407,18.6,23.644,19.667a3.674,3.674,0,0,0-2.031,6.265L36.036,37.75l-5.163,16.7A3.67,3.67,0,0,0,36.2,58.312l15-10.178,15,10.178a3.672,3.672,0,0,0,5.324-3.867l-5.163-16.7L80.774,25.932a3.674,3.674,0,0,0-2.031-6.265ZM67.9,55.054,51.193,43.992,34.5,55.065l16.7-11.073Z" transform="translate(-15.011 6.802)"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'filter' %}
        <svg  {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72">
            <g id="Layer_15">
                <path d="m56.354,58.764a2,2 0 0 0 2,-2l0,-6.218a7.618,7.618 0 0 0 0,-14.717l0,-19.775a2,2 0 1 0 -4,0l0,19.8a7.618,7.618 0 0 0 0,14.717l0,6.213a2,2 0 0 0 2,1.98zm-3.658,-15.577a3.659,3.659 0 1 1 3.658,3.659a3.659,3.659 0 0 1 -3.658,-3.659z" id="Path_20"/>
                <path d="m36,58.764a2,2 0 0 0 2,-2l0,-27.713a7.658,7.658 0 1 0 -4,0l0,27.713a2,2 0 0 0 2,2zm-3.66,-37.052a3.659,3.659 0 1 1 3.659,3.639a3.659,3.659 0 0 1 -3.659,-3.639z" id="Path_21"/>
                <path d="m13.645,43.767l0,13a2,2 0 0 0 4,0l0,-13a7.618,7.618 0 0 0 0,-14.717l0,-13a2,2 0 1 0 -4,0l0,13a7.618,7.618 0 0 0 0,14.717zm2,-11.017a3.659,3.659 0 1 1 -3.642,3.659a3.659,3.659 0 0 1 3.639,-3.659l0.003,0z" id="Path_22"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'check' %}
        <svg {{ shared_svg_attrs }} style="{{ style }}" width="72" height="72" viewBox="0 0 72 72">
            <g>
                <path stroke="null" d="m25.73166,49.0691l-14.3458,-14.3458l-4.88592,4.84922l19.23631,19.23172l41.28947,-41.28947l-4.85381,-4.84922l-36.44025,36.40355z" class="icon-path-check"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'bin' %}
        <svg {{ shared_svg_attrs }} width="72" height="72" viewBox="0 0 72 72">
            <g>
                <path stroke="null" id="trash-alt" d="m58.55199,15.95408l-10.85873,0l-3.50748,-4.69075a5.01211,5.01211 0 0 0 -4.01068,-1.99289l-8.35268,0a5.01211,5.01211 0 0 0 -4.01566,1.99289l-3.5025,4.69075l-10.85873,0a0.83452,0.83452 0 0 0 -0.83452,0.83452l0,1.67153a0.83452,0.83452 0 0 0 0.83452,0.83452l2.50605,0l0,38.42283a5.01211,5.01211 0 0 0 5.01211,5.01211l30.07264,0a5.01211,5.01211 0 0 0 5.01211,-5.01211l0,-38.42283l2.50605,0a0.83452,0.83452 0 0 0 0.83452,-0.83452l0,-1.67153a0.83452,0.83452 0 0 0 -0.83701,-0.83452zm-28.06481,-2.67296a1.6815,1.6815 0 0 1 1.33772,-0.66762l8.35268,0a1.6815,1.6815 0 0 1 1.33772,0.66762l1.99289,2.67296l-15.02635,0l2.00534,-2.67296zm22.23063,44.43636a1.67153,1.67153 0 0 1 -1.67153,1.67153l-30.0826,0a1.67153,1.67153 0 0 1 -1.67153,-1.67153l0,-38.42283l33.42567,0l0,38.42283z"/>
            </g>
        </svg>
    {% endif %}

    {% if id == 'quote' %}
        <svg {{ shared_svg_attrs }} fill="currentColor" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px">
            <path d="M 13.5 10 A 8.5 8.5 0 0 0 13.5 27 A 8.5 8.5 0 0 0 18.291016 25.519531 C 17.422273 29.222843 15.877848 31.803343 14.357422 33.589844 C 12.068414 36.279429 9.9433594 37.107422 9.9433594 37.107422 A 1.50015 1.50015 0 1 0 11.056641 39.892578 C 11.056641 39.892578 13.931586 38.720571 16.642578 35.535156 C 19.35357 32.349741 22 27.072581 22 19 A 1.50015 1.50015 0 0 0 21.984375 18.78125 A 8.5 8.5 0 0 0 13.5 10 z M 34.5 10 A 8.5 8.5 0 0 0 34.5 27 A 8.5 8.5 0 0 0 39.291016 25.519531 C 38.422273 29.222843 36.877848 31.803343 35.357422 33.589844 C 33.068414 36.279429 30.943359 37.107422 30.943359 37.107422 A 1.50015 1.50015 0 1 0 32.056641 39.892578 C 32.056641 39.892578 34.931586 38.720571 37.642578 35.535156 C 40.35357 32.349741 43 27.072581 43 19 A 1.50015 1.50015 0 0 0 42.984375 18.78125 A 8.5 8.5 0 0 0 34.5 10 z"/>
        </svg>
    {% endif %}

    {% if id == 'volume' %}
        <svg {{ shared_svg_attrs }} fill="currentColor" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 480 480" width="28" height="28" style="enable-background:new 0 0 480 480;" xml:space="preserve">
            <g>
                <g>
                    <path d="M278.944,17.577c-5.568-2.656-12.128-1.952-16.928,1.92L106.368,144.009H32c-17.632,0-32,14.368-32,32v128
			c0,17.632,14.368,32,32,32h74.368l155.616,124.512c2.912,2.304,6.464,3.488,10.016,3.488c2.368,0,4.736-0.512,6.944-1.568
			c5.536-2.688,9.056-8.288,9.056-14.432v-416C288,25.865,284.48,20.265,278.944,17.577z M96,304.009H32v-128h64V304.009z
			 M256,414.697l-128-102.4V167.721l128-102.4V414.697z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M369.024,126.857c-6.304-6.24-16.416-6.144-22.624,0.128c-6.208,6.304-6.144,16.416,0.128,22.624
			c24.16,23.904,37.472,56,37.472,90.4c0,34.4-13.312,66.496-37.472,90.4c-6.304,6.208-6.368,16.32-0.128,22.624
			c3.136,3.168,7.264,4.736,11.36,4.736c4.064,0,8.128-1.536,11.264-4.64c30.304-29.92,46.976-70.08,46.976-113.12
			C416,196.969,399.328,156.809,369.024,126.857z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M414.144,81.769c-6.272-6.208-16.416-6.176-22.624,0.096c-6.208,6.272-6.176,16.416,0.096,22.624
			C427.968,140.553,448,188.681,448,240.009s-20.032,99.456-56.384,135.52c-6.272,6.208-6.304,16.352-0.096,22.624
			c3.136,3.168,7.232,4.736,11.36,4.736c4.064,0,8.128-1.536,11.264-4.64C456.608,356.137,480,299.945,480,240.009
			C480,180.073,456.608,123.881,414.144,81.769z"/>
                </g>
            </g>
        </svg>
    {% endif %}

    {% if id == 'volume-muted' %}
        <svg {{ shared_svg_attrs }} fill="currentColor" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    viewBox="0 0 480 480" width="28" height="28" style="enable-background:new 0 0 480 480;" xml:space="preserve">
            <g>
                <g>
                    <path d="M278.9,17.6c-5.6-2.7-12.1-2-16.9,1.9L106.4,144H32c-17.6,0-32,14.4-32,32v128c0,17.6,14.4,32,32,32h74.4L262,460.5
			c2.9,2.3,6.5,3.5,10,3.5c2.4,0,4.7-0.5,6.9-1.6c5.5-2.7,9.1-8.3,9.1-14.4V32C288,25.9,284.5,20.3,278.9,17.6z M96,304H32V176h64
			V304z M256,414.7L128,312.3V167.7L256,65.3V414.7z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M425.2,250l49.4-49.4c5.9-5.9,5.9-15.4,0-21.2c-5.9-5.9-15.4-5.9-21.2,0L404,228.8l-49.4-49.4c-5.9-5.9-15.4-5.9-21.2,0
			c-5.9,5.9-5.9,15.4,0,21.2l49.4,49.4l-49.4,49.4c-5.9,5.9-5.9,15.4,0,21.2c5.9,5.9,15.4,5.9,21.2,0l49.4-49.4l49.4,49.4
			c5.9,5.9,15.4,5.9,21.2,0c5.9-5.9,5.9-15.4,0-21.2L425.2,250z"/>
                </g>
            </g>
        </svg>
    {% endif %}

    

{%- endcapture -%}

{{ icon | strip_newlines }}

{% if url %}
  </a>
{% endif %}
