{%- if desktop_image == blank -%}
  {% assign desktop_image = mobile_image %}
{%- endif -%}
{%- if mobile_image == blank -%}
  {% assign mobile_image = desktop_image %}
{%- endif -%}

{%- assign image_sizes = sizes | default: '100vw' -%}
{%- assign mobile_sizes = mobile_sizes | default: '100vw' -%}
{%- assign mobile_widths = mobile_widths | default: '375,414,430,480,640,750,828,1080,1200,1440,1920,3000,3840' -%}
{%- assign desktop_widths = desktop_widths | default: '750,1080,1440,1920,2560,3000,3840' -%}

{%- assign fetch_priority = 'auto' -%}
{%- assign loading_attr = 'lazy' -%}
{%- if lcp_optimized == true %}
  {%- assign fetch_priority = 'high' -%}
  {%- assign loading_attr = 'eager' -%}
{%- endif -%}

<div class="hero__pic-container {% if settings.animations and animation %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}">
  {% if button_link and button_label == blank or button_link and link_image %}
    <a
      href="{{ button_link }}"
      class="hero__pic__link"
      aria-label="{{ button_link | split: '/' | last | replace: '-', ' ' | capitalize | default: 'View product' }}"
      {% if button_link_in_new_window %}
        target="_blank" rel="noreferrer noopener"
      {% endif %}
    >
  {% endif %}

  {%- if desktop_image != blank and mobile_image != blank -%}
    {% assign loading_option = loading_option | default: 'lazy' %}

    <picture class="hero__pic hero__pic--mobile">
      {{ mobile_image
        | image_url: width: 3840
        | image_tag:
          width: mobile_image.width,
          height: mobile_image.height,
          class: 'hero__img hero__img--mobile',
          sizes: mobile_sizes,
          widths: mobile_widths,
          loading: loading_attr,
          fetchpriority: fetch_priority
      }}
    </picture>

    <picture class="hero__pic">
      {{ desktop_image
        | image_url: width: 3840
        | image_tag:
          width: desktop_image.width,
          height: desktop_image.height,
          class: 'hero__img hero__img--desktop',
          sizes: image_sizes,
          widths: desktop_widths,
          loading: loading_attr,
          fetchpriority: fetch_priority
      }}
    </picture>

  {%- else -%}
    {% if placeholder %}
      <picture class="hero__pic hero__pic--mobile">
        {{ placeholder | placeholder_svg_tag: 'hero__img hero__img--placeholder' }}
      </picture>
      <picture class="hero__pic">
        {{ placeholder | placeholder_svg_tag: 'hero__img hero__img--placeholder' }}
      </picture>
    {% endif %}
  {%- endif -%}
  {% if button_link and button_label == blank or button_link and link_image %}
    </a>
  {% endif %}

  {% if block.settings.featured_product != null %}
    {% render 'shoppable-video-product', block: block, hide_brand: section.settings['hide-brand-name'] %}
  {% endif %}
</div>
