{% if blocks %}
  {%- for block in blocks -%}
    {%- case block.type -%}
      {%- when 'subheading' -%}
        {% if block.settings.subheading %}
          <div
            data-block-id="{{ block.id }}"
            class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__subheading {% if block.settings.subheading_disable_on_mobile %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__subheading--mobile{% endif %}"
          >
            {{ block.settings.subheading | escape | newline_to_br }}
          </div>
        {% endif %}
      {%- when 'subheading_richtext' -%}
        {% if block.settings.subheading_richtext %}
          <div
            data-block-id="{{ block.id }}"
            class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__subheading {% if block.settings.subheading_richtext_disable_on_mobile %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__subheading--mobile{% endif %}"
          >
            {{ block.settings.subheading_richtext | newline_to_br }}
          </div>
        {% endif %}
      {%- when 'heading' -%}
        {% if block.settings.heading %}
          {% if block.settings.advanced_heading %}
            {% liquid
              assign apply_gradient_class = false
            
              if block.settings.heading_richtext_color != blank and block.settings.heading_richtext_color != 'rgba(0, 0, 0, 0)' and block.settings.heading_richtext_color != 'transparent'
                assign apply_gradient_class = true
              endif
            
              if block.settings.heading_richtext_gradient != blank
                assign apply_gradient_class = true
              endif
            %}
            <div data-block-id="{{ block.id }}" class="headline headline--rich
              {% if apply_gradient_class %} headline--rich-gradient{% endif %}
              {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}{% if block.settings.disable_on_mobile %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__title--mobile{% endif %}">
                {{ block.settings.heading_richtext }}
          </div>
          {% else %}
           <h2
              data-block-id="{{ block.id }}"
              class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__title {% if block.settings.disable_on_mobile %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__title--mobile{% endif %}"
              >
                {{ block.settings.heading | escape | newline_to_br }}
            </h2>
          {% endif %}
        {% endif %}
        {% if block.settings.subheading %}
          <div
            data-block-id="{{ block.id }}"
            class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__text {% if block.settings.disable_on_mobile %}hero__title--mobile{% endif %}"
          >
            {{ block.settings.subheading }}
          </div>
        {% endif %}
      {%- when 'text' -%}
        {% if block.settings.text and rich_text_with_image == true %}
          <div
            class="rich-text-image {% if block.settings.disable_on_mobile %}hero__title--mobile{% endif %}"
            data-block-id="{{ block.id }}"
          >
            {% assign text = block.settings.text %}
            {{ block.settings.button_link }}

            {% if block.settings.picture1 == null
              and block.settings.picture2 == null
              and block.settings.picture3 == null
            %}
              {% assign pic1url = 'product-1' | placeholder_svg_tag %}
              {% assign pic2url = 'product-2' | placeholder_svg_tag %}
              {% assign pic3url = 'product-3' | placeholder_svg_tag %}
              {% assign text = text
                | replace: 'PICTURE1', pic1url
                | replace: 'PICTURE2', pic2url
                | replace: 'PICTURE3', pic3url
              %}
            {% endif %}

            {% if block.settings.picture1 %}
              {% assign pic1url = block.settings.picture1.src | image_url: width: 200 | image_tag %}
              {% assign link1 = block.settings.button_link1 %}
              {% if link1.size > 0 %}
                {% assign pic1tag = '<a href="' | append: link1 | append: '">' | append: pic1url | append: '</a>' %}
              {% else %}
                {% assign pic1tag = pic1url %}
              {% endif %}
              {% assign text = text | replace: 'PICTURE1', pic1tag %}
            {% endif %}

            {% if block.settings.picture2 %}
              {% assign pic2url = block.settings.picture2.src | image_url: width: 200 | image_tag %}
              {% assign link2 = block.settings.button_link2 %}
              {% if link2.size > 0 %}
                {% assign pic2tag = '<a href="' | append: link2 | append: '">' | append: pic2url | append: '</a>' %}
              {% else %}
                {% assign pic2tag = pic2url %}
              {% endif %}
              {% assign text = text | replace: 'PICTURE2', pic2tag %}
            {% endif %}

            {% if block.settings.picture3 %}
              {% assign pic3url = block.settings.picture3.src | image_url: width: 200 | image_tag %}
              {% assign link3 = block.settings.button_link3 %}
              {% if link3.size > 0 %}
                {% assign pic3tag = '<a href="' | append: link3 | append: '">' | append: pic3url | append: '</a>' %}
              {% else %}
                {% assign pic3tag = pic3url %}
              {% endif %}
              {% assign text = text | replace: 'PICTURE3', pic3tag %}
            {% endif %}

            <h2 class="rich-text-image__heading rte">
              {{ text }}
            </h2>
          </div>
        {% elsif block.settings.text %}
          <div
            data-block-id="{{ block.id }}"
            class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__text {% if block.settings.disable_on_mobile %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__text--mobile{% endif %} rte"
          >
            {{ block.settings.text }}
          </div>
        {% endif %}
      {%- when 'button' -%}
        <div class="hero__button--gap">
          {% if block.settings.button_link and block.settings.button_label != blank %}
            <a
              href="{{ block.settings.button_link }}"
              {% if block.settings.button_link_in_new_window %}
                target="_blank" rel="noreferrer noopener"
                tabindex="0"
              {% endif %}
              aria-label="{{ block.settings.button_label }} {{ block.settings.button_link | split: '/' | last | replace: '-', ' ' | capitalize }}"
              class="hero__button--primary {% if block.settings.button_select != 'primary' %} hero__button--secondary {% endif %}{% if block.settings.button_select == 'link' %} hero__button--link {% endif %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__button {% if block.settings.disable_on_mobile %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__button--mobile{% endif %}"
            >
              <span>{{ block.settings.button_label }}</span>
            </a>
          {% endif %}

          {% if block.settings.second_button_link and block.settings.second_button_label != blank %}
            <a
              href="{{ block.settings.second_button_link }}"
              {% if button_link_in_new_window %}
                target="_blank" rel="noreferrer noopener"
              {% endif %}
                aria-label="{{ block.settings.second_button_label }}"
                class="hero__button--primary {% if block.settings.second_button_select != 'primary' %} hero__button--secondary {% endif %}{% if block.settings.second_button_select == 'link' %} hero__button--link {% endif %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__button {% if block.settings.second_disable_on_mobile %}{% if prefix %}{{ prefix }}{% else %}block{% endif %}__button--mobile{% endif %}"
              >
                <span>
                  {{ block.settings.second_button_label }}
                </span>
            </a>
          {% endif %}
        </div>
      {%- when 'countdown_timer' %}
        {% render 'countdown-timer', block: block %}
      {%- when 'icon_with_text' %}
        <div data-block-id="{{ block.id }}" class="hero__icon-with-text">
          <div class="hero__icon-container">
            {%- if block.settings.icon == blank -%}
              {% render 'icons',
                id: block.settings.select_icon,
                url: block.settings.image.url,
                icon_class: 'hero__icon'
              %}
            {% else %}
              {{
                block.settings.icon
                | image_url: width: 750
                | image_tag:
                  loading: 'lazy',
                  sizes: '(min-width: 750px) 750px, 100vw',
                  widths: '750, 1500, 2250, 3000',
                  class: 'hero__icon'
              }}
            {% endif %}
          </div>
          <div class="hero__icon-text">
            {{ block.settings.text }}
          </div>
        </div>
      {% when 'table' %}
        <div class="hero__table {% if block.settings.full-width-enabled %}hero__table--full-width{% endif %}" data-block-id="{{ block.id }}">
            <div class="hero__table-container">
              {% if block.settings.metafield != empty %}
                {% assign metafield = block.settings.metafield | strip | split: '.' %}
                {% assign metafield_namespace = metafield | first | strip %}
                {% assign metafield_key = metafield | last | strip %}
                {% assign specification = product.metafields[metafield_namespace][metafield_key]
                  | newline_to_br
                %}
              {% else %}
                {% assign specification = block.settings.table_content | newline_to_br %}
              {% endif %}

              {% assign text = specification | strip_newlines %}
              {% assign table_rows = text | split: '<br /><br />' %}


              {% for row in table_rows %}
                <div class="hero__table__row hero__table__row--mobile--{{ block.settings.mobile_layout }}">
                  {% assign row_cells = row | split: '<br />' %}
                  {% for cell in row_cells limit: 1 %}
                    <div class="hero__table__cell--title hero__table__cell hero__table__cell--{{ block.settings.desktop_text_horizontal_position }} hero__table__cell--mobile--{{ block.settings.mobile_text_horizontal_position }}">
                      <p>{{ cell }}</p>
                    </div>
                  {% endfor %}
                  <div class="hero__table__cell--content  hero__table__cell hero__table__cell--{{ block.settings.desktop_text_horizontal_position }} hero__table__cell--mobile--{{ block.settings.mobile_text_horizontal_position }}">
                    {% for cell in row_cells offset: 1 %}
                      <p>{{ cell }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
      {%- when 'ui_spacer' %}
        {% render 'ui-spacer',
          block_id: block.id,
          spacer_mobile_height: block.settings.spacer_mobile_height,
          spacer_desktop_height: block.settings.spacer_desktop_height
        %}
    {%- endcase -%}
  {%- endfor -%}
  {{ 'simple-block.css' | asset_url | stylesheet_tag }}
{% else %}
  {% if title %}
    <h2 class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__title">{{ title }}</h2>
  {% endif %}
  {% if title_h1 %}
    <h1 class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__title">{{ title }}</h1>
  {% endif %}
  {% if text %}
    <p class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__text">{{ text }}</p>
  {% endif %}
  {% if buttonUrl -%}
    <a
      class="{% if prefix %}{{ prefix }}{% else %}block{% endif %}__button"
      href="{{ buttonUrl }}"
      {% if button_link_in_new_window %}
        target="_blank" rel="noreferrer noopener"
      {% endif %}
    >
      {{- buttonText -}}
    </a>
  {%- endif %}
{% endif %}
