<ul class="social-links">
  {% if settings.social_facebook_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_facebook_link }}"
        class="social-link"
        aria-label="Facebook - opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-fb' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_twitter_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_twitter_link }}"
        class="social-link"
        aria-label="Twitter - opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-twitter' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_instagram_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_instagram_link }}"
        class="social-link"
        aria-label="Instagram - opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-inst' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_pinterest_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_pinterest_link }}"
        class="social-link"
        aria-label="Pinterest - opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-pint' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_tiktok_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_tiktok_link }}"
        class="social-link"
        aria-label="TikTok - opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-tiktok' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_tumblr_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_tumblr_link }}"
        class="social-link"
        aria-label="Tumblr - opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-tumblr' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_snapchat_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_snapchat_link }}"
        class="social-link"
        aria-label="Snapchat - opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-snapchat' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_youtube_link != empty %}
    <li class="social-links__item">
      <a
        href="{{ settings.social_youtube_link }}"
        class="social-link"
        aria-label="Youtube- opens in new tab"
        target="_blank"
        rel="nofollow"
      >
        {% render 'icons', id: 'soc-youtube' %}
      </a>
    </li>
  {% endif %}

  {% if settings.social_vimeo_link != empty %}
    <li class="social-links__item">
      <a href="{{ settings.social_vimeo_link }}" class="social-link" aria-label="Vimeo" target="_blank" rel="nofollow">
        {% render 'icons', id: 'soc-vimeo' %}
      </a>
    </li>
  {% endif %}
</ul>
