<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">  
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      <link rel="icon" type="image/png" sizes="192x192" href="{{ settings.favicon | image_url: width: 192, height: 192 }}">
      <link rel="icon" type="image/png" sizes="512x512" href="{{ settings.favicon | image_url: width: 512, height: 512 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    {{ 'swiper.css' | asset_url | stylesheet_tag }}

    {{ 'settings.css' | asset_url | stylesheet_tag }}
    {{ 'critical.css' | asset_url | stylesheet_tag }}

    <link rel="preload" href="{{ 'main.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'main.css' | asset_url }}"></noscript>

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'base.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    {{ 'customers.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_headings_font | font_face: font_display: 'swap' }}
      {{ settings.type_navigation_font | font_face: font_display: 'swap' }}
      {{ settings.type_buttons_font | font_face: font_display: 'swap' }}
      {{ settings.type_price_font | font_face: font_display: 'swap' }}
      /* {{ settings.type_breadcrumbs_font | font_face: font_display: 'swap' }} */

      @font-face {
        font-family: 'icomoon';
        src:  url('{{ 'icomoon.eot' | asset_url }}?6k4fkf');
        src:  url('{{ 'icomoon.eot' | asset_url }}?6k4fkf#iefix') format('embedded-opentype'),
          url('{{ 'icomoon.ttf' | asset_url }}?6k4fkf') format('truetype'),
          url('{{ 'icomoon.woff' | asset_url }}?6k4fkf') format('woff'),
          url('{{ 'icomoon.svg' | asset_url }}?6k4fkf#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_headings_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_headings_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_navigation_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_navigation_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_buttons_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_buttons_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_price_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_price_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {% comment %} {%- unless settings.type_breadcrumbs_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_breadcrumbs_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%} {% endcomment %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    {{ 'section-password.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="template-{{ template | handleize }}">
    {{ content_for_layout }}
    <!-- Wonder Theme v2.2.0 -->
  </body>
</html>
