{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'section-video.css' | asset_url | stylesheet_tag }}

{% assign background_section_rgb = section.settings['section-color-overlay'] | color_to_rgb %}
{% assign heading_rgb = section.settings['section-color-body-text'] | color_to_rgb %}

{% assign background_rgb = section.settings['color-overlay'] | color_to_rgb %}
{% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}

<style>
    section[id="shopify-section-{{ section.id }}"]{
        {% if background_section_rgb != 'rgba(0, 0, 0, 0.0)' %}
            --color-overlay-rgb: {{ section.settings.section-color-overlay | color_to_rgb | remove: 'rgb(' | remove: ')' }};
            --color-overlay-opacity: {{ section.settings.section-color-overlay-opacity | divided_by: 100.0 }};
        {% endif %}
    }

    section[id="shopify-section-{{ section.id }}"] .headline__title{
      {% if heading_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-custom-text: {{ section.settings.section-color-body-text }};
      {% endif %}
    }
  [data-section-id="{{ section.id }}"]
  {
      {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-overlay-rgb: {{ section.settings.color-overlay | color_to_rgb | remove: 'rgb(' | remove: ')' }};
        --color-overlay-opacity: {{ section.settings.color-overlay-opacity | divided_by: 100.0 }};
      {% else %}
        .hero__pic-container,
        .wt-video__movie {
          border-radius: var(--border-radius);
          overflow: hidden;
        }
      {% endif %}

      {% if section.settings.full-width-enabled %}
        --border-radius: 0;
      {% endif %}

      {% if section.settings.margin-top %}
        --section-gap-top: {{ section.settings.margin-top }}px;
      {% endif %}

      {% if section.settings.margin-bottom %}
        --section-gap-bottom: {{ section.settings.margin-bottom }}px;
      {% endif %}

      --desktop-percentage-image-width: {{ section.settings.desktop-percentage-image-width }}%;

    {% if section.settings.slide_height == 'fixed_height' %}
    --section-height: {{ section.settings.mobile_fixed_height }}px;
    --section-height-desk: {{ section.settings.desktop_fixed_height }}px;
    {% endif %}

    {% if section.settings.slide_height == 'adapt_to_first_image' %}
        --first-slide-ratio: {{ section.blocks.first.settings.mobile_image.aspect_ratio | default: 1 }};
        --first-slide-ratio-desk: {{ section.blocks.first.settings.desktop_image.aspect_ratio | default: 2.5 }};
    {% endif %}

  }

  [data-section-id="{{ section.id }}"] .hero
    {
        {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
          --color-custom-text: {{ section.settings.color-body-text }};
        {% endif %}
    }

  {%- for block in section.blocks -%}
  [data-block-id="{{ block.id }}"]
  {

        --font-headline-scale-desk: {{ block.settings.size_heading | divided_by: 100.0 }};
        --font-headline-scale: {{ block.settings.size_heading_mobile | divided_by: 100.0 }};

        {% if block.type == 'countdown_timer' %}
        --font-timer-scale-desk: {{ block.settings.scale_timer | divided_by: 100.0 }};
        --font-timer-scale: {{ block.settings.scale_timer_mobile | divided_by: 100.0 }};
        --font-timer: {% if block.settings.timer_style == 'headline' %}var(--font-headline){% endif %}
        {% endif %}

        {% if block.type == 'text' and block.settings.text_style == 'subtitle' %}
            --font-base: var(--font-headline);
        {% endif %}

        {% if block.type == 'icon_with_text' %}
          --icon-height-desktop: {{ block.settings.icon_height_desktop }}px;
          --icon-height: {{ block.settings.icon_height }}px;
          --icon-margin-desktop: {{ block.settings.icon_margin_desktop }}px;
          --icon-margin: {{ block.settings.icon_margin }}px;
          --size-heading-desktop: {{ block.settings.size_heading | divided_by: 100.0 }};
          --size-heading: {{ block.settings.size_heading_mobile | divided_by: 100.0 }};
          --gap: {{ block.settings.gap }}px;
          --margin-top: {{ block.settings.margin_top }}px;
          --margin-bottom: {{ block.settings.margin_bottom }}px;
          --margin-left: {{ block.settings.margin_left }}px;
          --margin-left-desktop: {{ block.settings.margin_left_desktop }}px;
        {% endif %}

        {% if block.type == 'table' %}
          --color-background-odd: {{ block.settings.color-background-odd }};
          --color-text-odd: {{ block.settings.color-text-odd | color_to_rgb | remove: 'rgb(' | remove: ')' }};
          --left-column-opacity: {{ block.settings.color-text-left-opacity | divided_by: 100.0 }};

          --mobile-layout: {{ block.settings.mobile_layout }};
          --table-border-radius: {{ settings.radius }}px;
        {% endif %}
  }
  {%- endfor -%}
</style>

{% if section.settings.layout == 'text_first' %}
  {% assign customclass = 'hero--grid hero--grid--rev' %}
{% else %}
  {% assign customclass = 'hero--grid' %}
{% endif %}

{% if section.settings['full-width-enabled'] %}
  {% assign customwrapperclass = 'hero__wrapper--full' %}
{% else %}
  {% assign customwrapperclass = 'hero__wrapper' %}
{% endif %}

<div
  data-section-id="{{ section.id }}"
  data-height="{{ section.settings.slide_height }}"
  class="{{ customwrapperclass }}  {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}"
>
  {% if section.settings.advanced_heading %}
    {% if section.settings.heading_richtext != blank %}
        <div class="headline headline--rich {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}">
            {{ section.settings.heading_richtext }}
        </div>
    {% endif %}
  {% else %}
    {% if section.settings.title != blank %}
        {% render 'headline', title: section.settings.title %}
    {% endif %}
  {% endif %}
  <div class="{% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}">
    {% render 'hero',
      type: 'blocks',
      classname: customclass,
      desktop_text_horizontal_position: section.settings.desktop_text_horizontal_position,
      desktop_text_vertical_position: section.settings.desktop_text_vertical_position,
      mobile_text_horizontal_position: section.settings.mobile_text_horizontal_position,
      mobile_text_vertical_position: section.settings.mobile_text_vertical_position,
      desktop_image: section.settings.desktop_image,
      mobile_image: section.settings.mobile_image,
      placeholder: 'detailed-apparel-1',
      blocks: section.blocks,
      video: section.settings.video_hosted,
      mobile_video: section.settings.video_hosted_mobile,
    %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "tag": "section",
  "class": "section-image-with-text wt-shopify-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.general"
    },
    {
      "type": "checkbox",
      "id": "advanced_heading",
      "label": "t:sections.global.advanced_heading.label",
      "info": "t:sections.global.advanced_heading.info"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "t:sections.settings.settings.heading.label",
      "default": "Image with text",
      "visible_if": "{{ section.settings.advanced_heading == false }}"
    },
    {
      "type": "richtext",
      "id": "heading_richtext",
      "label": "t:sections.logo-banner.settings.content.headline.label",
      "default": "<h2>Your headline here</h2>",
      "visible_if": "{{ section.settings.advanced_heading == true }}"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "range",
      "id": "desktop-percentage-image-width",
      "min": 30,
      "max": 70,
      "step": 1,
      "unit": "%",
      "default": 50,
      "label": "t:sections.image-with-text.settings.desktop-percentage-image-width.label"
    },
    {
      "type": "checkbox",
      "id": "full-width-enabled",
      "label": "t:sections.settings.settings.section-full-width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.section-height"
    },
    {
      "type": "radio",
      "id": "slide_height",
      "label": "t:sections.slideshow.settings.slide.slide_height.default.label",
      "options": [
        {
          "value": "adapt_to_first_image",
          "label": "t:sections.slideshow.settings.slide.slide_height.adapt_to_first_image.label"
        },
        {
          "value": "fixed_height",
          "label": "t:sections.slideshow.settings.slide.slide_height.fixed_height.label"
        }
      ],
      "default": "fixed_height"
    },
    {
      "type": "range",
      "id": "desktop_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 320,
      "label": "t:sections.slideshow.settings.slide.desktop_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "range",
      "id": "mobile_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 460,
      "label": "t:sections.slideshow.settings.slide.mobile_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "section-color-body-text",
      "default": "transparent",
      "label": "t:sections.global.heading-color"
    },
    {
      "type": "color",
      "id": "section-color-overlay",
      "default": "transparent",
      "label": "t:sections.global.section-background-color"
    },
    {
      "type": "range",
      "id": "section-color-overlay-opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "label": "t:sections.settings.settings.background-opacity.label"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "color-overlay",
      "default": "transparent",
      "label": "t:sections.settings.settings.background-container-color.label"
    },
    {
      "type": "range",
      "id": "color-overlay-opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "label": "t:sections.settings.settings.background-opacity.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.desktop_version"
    },
    {
      "type": "video",
      "id": "video_hosted",
      "label": "t:sections.logo-banner.settings.video-hosted.label"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.settings.settings.image.label"
    },
    {
      "type": "select",
      "id": "desktop_text_vertical_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-banner.settings.desktop_text_vertical_position.top.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_text_vertical_position.center.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-banner.settings.desktop_text_vertical_position.bottom.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_text_vertical_position.label"
    },
    {
      "type": "select",
      "id": "desktop_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.mobile_version"
    },
    {
      "type": "video",
      "id": "video_hosted_mobile",
      "label": "t:sections.logo-banner.settings.video-hosted.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.settings.settings.image.label"
    },
    {
      "type": "select",
      "id": "mobile_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_text_vertical_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "range",
          "id": "size_heading",
          "min": 100,
          "max": 500,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading.label",
          "unit": "%"
        },
        {
          "type": "range",
          "id": "size_heading_mobile",
          "min": 80,
          "max": 300,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading-mobile.label",
          "unit": "%"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.image-banner.subheading.name",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.settings.settings.subheading.label",
          "default": "Tell you story"
        },
        {
          "type": "checkbox",
          "id": "subheading_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.settings.settings.text.label",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.text.settings.text_style.settings.options__1.label"
            },
            {
              "value": "body",
              "label": "t:sections.image-with-text.text.settings.text_style.settings.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.text.settings.text_style.name"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-banner.button.name",
      "settings": [
        {
          "type": "select",
          "id": "button_select",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.settings.settings.button_select.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.settings.settings.button_select.secondary.label"
            },
            {
              "value": "link",
              "label": "t:sections.settings.settings.button_select.link.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.settings.settings.button_select.default.label"
        },
        {
          "id": "button_label",
          "type": "text",
          "default": "Button label",
          "label": "t:sections.settings.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.settings.settings.link.label",
          "default": "/"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "t:sections.settings.settings.icon-with-text.label",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.settings.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.settings.settings.image.label"
        },
        {
          "type": "select",
          "id": "select_icon",
          "options": [
            {
              "value": "bag",
              "label": "t:sections.features-banner.settings.image.select_icon.bag.label"
            },
            {
              "value": "user",
              "label": "t:sections.features-banner.settings.image.select_icon.user.label"
            },
            {
              "value": "heart",
              "label": "t:sections.features-banner.settings.image.select_icon.heart.label"
            },
            {
              "value": "bars",
              "label": "t:sections.features-banner.settings.image.select_icon.bars.label"
            },
            {
              "value": "search",
              "label": "t:sections.features-banner.settings.image.select_icon.search.label"
            },
            {
              "value": "plus",
              "label": "t:sections.features-banner.settings.image.select_icon.plus.label"
            },
            {
              "value": "close",
              "label": "t:sections.features-banner.settings.image.select_icon.close.label"
            },
            {
              "value": "arrow-right",
              "label": "t:sections.features-banner.settings.image.select_icon.arrow-right.label"
            },
            {
              "value": "arrow-left",
              "label": "t:sections.features-banner.settings.image.select_icon.arrow-left.label"
            },
            {
              "value": "arrow-down",
              "label": "t:sections.features-banner.settings.image.select_icon.arrow-down.label"
            },
            {
              "value": "star",
              "label": "t:sections.features-banner.settings.image.select_icon.star.label"
            },
            {
              "value": "star_fill",
              "label": "t:sections.features-banner.settings.image.select_icon.star_fill.label"
            },
            {
              "value": "filter",
              "label": "t:sections.features-banner.settings.image.select_icon.filter.label"
            },
            {
              "value": "check",
              "label": "t:sections.features-banner.settings.image.select_icon.check.label"
            },
            {
              "value": "bin",
              "label": "t:sections.features-banner.settings.image.select_icon.bin.label"
            },
            {
              "value": "soc-fb",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-fb.label"
            },
            {
              "value": "soc-inst",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-inst.label"
            },
            {
              "value": "soc-twitter",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-twitter.label"
            },
            {
              "value": "soc-pint",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-pint.label"
            }
          ],
          "default": "bag",
          "label": "t:sections.features-banner.settings.image.select_icon.default.label"
        },
        { 
          "type": "checkbox",
          "id": "icon_advanced_settings",
          "label": "More icon settings"
        },
        {
          "type": "range",
          "id": "icon_height_desktop",
          "label": "t:sections.settings.settings.icon_scale_desktop.label",
          "min": 10,
          "max": 42,
          "step": 1,
          "default": 28,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "range",
          "id": "icon_height",
          "label": "t:sections.settings.settings.icon_scale_mobile.label",
          "min": 10,
          "max": 42,
          "step": 1,
          "default": 27,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "range",
          "id": "icon_margin_desktop",
          "label": "t:sections.settings.settings.icon_top_margin_desktop.label",
          "min": 0,
          "max": 16,
          "step": 1,
          "default": 0,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "range",
          "id": "icon_margin",
          "label": "t:sections.settings.settings.icon_top_margin_mobile.label",
          "min": 0,
          "max": 16,
          "step": 1,
          "default": 0,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "header",
          "content": "t:sections.settings.settings.text.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Add a short description</p>",
          "label": "t:sections.settings.settings.text.label",
        },
        {
          "type": "range",
          "id": "size_heading",
          "min": 40,
          "max": 220,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-text.label",
          "unit": "%"
        },
        {
          "type": "range",
          "id": "size_heading_mobile",
          "min": 40,
          "max": 220,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-text-mobile.label",
          "unit": "%"
        },
        {
          "type": "header",
          "content": "t:sections.settings.settings.spacing.label"
        },
        {
          "type": "range",
          "id": "gap",
          "min": 0,
          "max": 16,
          "step": 1,
          "default": 8,
          "label": "t:sections.settings.settings.gap.label",
          "unit": "px"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 8,
          "label": "t:sections.settings.settings.distance-top.label"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 8,
          "label": "t:sections.settings.settings.distance-bottom.label",
        },
        {
          "type": "range",
          "id": "margin_left_desktop",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 0,
          "label": "Spacing from the left desktop"
        },
        {
          "type": "range",
          "id": "margin_left",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 0,
          "label": "Spacing from the left mobile",
        }
      ]
    },
    {
      "type": "countdown_timer",
      "name": "t:blocks.countdown_timer.name",
      "settings": [
        {
          "id": "end_datetime",
          "type": "text",
          "label": "t:blocks.countdown_timer.settings.end_date.label",
          "default": "2026-12-31 23:59",
          "placeholder": "YYYY-MM-DD HH:MM",
          "info": "t:blocks.countdown_timer.settings.end_date.info"
        },
        {
          "id": "expired_message",
          "type": "text",
          "label": "t:blocks.countdown_timer.settings.expired_message.label"
        },
        {
          "type": "checkbox",
          "id": "labels_below",
          "label": "t:blocks.countdown_timer.settings.labels.below.label",
          "default": true
        },
        {
          "type": "select",
          "id": "timer_style",
          "label": "t:blocks.countdown_timer.settings.style.label",
          "options": [
            {
              "value": "headline",
              "label": "t:blocks.countdown_timer.settings.style.headline"
            },
            {
              "value": "text",
              "label": "t:blocks.countdown_timer.settings.style.text"
            }
          ]
        },
        {
          "type": "range",
          "id": "scale_timer",
          "min": 100,
          "max": 500,
          "step": 10,
          "default": 100,
          "label": "t:blocks.countdown_timer.settings.scale.desktop.label",
          "unit": "%"
        },
        {
          "type": "range",
          "id": "scale_timer_mobile",
          "min": 80,
          "max": 300,
          "step": 10,
          "default": 100,
          "label": "t:blocks.countdown_timer.settings.scale.mobile.label",
          "unit": "%"
        }
      ]
    },
    {
      "type": "table",
      "name": "t:sections.image-with-text.table.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "full-width-enabled",
          "label": "t:sections.settings.settings.block-full-width.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.image-with-text.table.settings.desktop_layout.label"
        },
        {
          "type": "select",
          "id": "desktop_text_horizontal_position",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.left.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.center.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.right.label"
            },
            {
              "value": "space-between",
              "label": "t:sections.image-with-text.table.settings.desktop_layout.space_between.label"
            }
          ],
          "default": "left",
          "label": "t:sections.image-with-text.table.settings.text_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.image-with-text.table.settings.mobile_layout.label"
        },
        {
          "type": "select",
          "id": "mobile_layout",
          "options": [
            {
              "value": "column",
              "label": "t:sections.image-with-text.table.settings.mobile_layout.column.label"
            },
            {
              "value": "row",
              "label": "t:sections.image-with-text.table.settings.mobile_layout.row.label"
            },
          ],
          "default": "column",
          "label": "t:sections.image-with-text.table.settings.rows_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_text_horizontal_position",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.left.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.center.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.right.label"
            },
          ],
          "default": "left",
          "label": "t:sections.image-with-text.table.settings.text_alignment.label",
        },
        {
          "type": "header",
          "content": "t:sections.image-with-text.table.settings.table.label"
        },
        {
          "type": "text",
          "id": "metafield",
          "label": "t:sections.image-with-text.table.settings.table.table_metafield.label",
          "info": "t:sections.main-product.blocks.specification.settings.metafield.info"
        },
        {
          "type": "textarea",
          "id": "table_content",
          "label": "t:sections.image-with-text.table.settings.table.table_multiline.label",
          "default": "Feature name:\nShort description\n\nSecond feature name:\nDetail line 1\nDetail line 2 \nDetail line 3",
          "info": "t:sections.image-with-text.table.settings.table.table_multiline.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.colors"
        },
        {
          "type": "color",
          "id": "color-background-odd",
          "default": "#f4f4f4",
          "label": "t:sections.main-product.blocks.specification.settings.background_odd.label"
        },
        {
          "type": "color",
          "id": "color-text-odd",
          "default": "#000",
          "label": "t:sections.main-product.blocks.specification.settings.text_color_odd.label"
        },
        {
          "type": "range",
          "id": "color-text-left-opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 100,
          "label": "t:sections.main-product.blocks.specification.settings.left_column_opacity.label"
        },
      ]
    },
    {
      "type": "ui_spacer",
      "name": "t:blocks.ui_spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "spacer_desktop_height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 32,
          "label": "t:blocks.ui_spacer.settings.spacer_desktop_height.label",
          "unit": "px"
        },
        {
          "type": "range",
          "id": "spacer_mobile_height",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 16,
          "label": "t:blocks.ui_spacer.settings.spacer_mobile_height.label",
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "category": "t:sections.categories.storytelling",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    },
    {
      "name": "t:sections.image-with-text.presets.name__2",
      "category": "t:sections.categories.storytelling",
      "blocks": [
        {
          "type": "countdown_timer"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    },
    {
      "name": "t:sections.image-with-text.presets.name__3",
      "category": "t:sections.categories.storytelling",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "table"
        },
        {
          "type": "button"
        }
      ]
    },
  ],
  "disabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}
