{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

{% assign background_rgb = section.settings['color-overlay'] | color_to_rgb %}
{% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}

<style>
  [data-section-id="{{ section.id }}"]
  {
    {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-overlay-rgb: {{ section.settings.color-overlay | color_to_rgb | remove: 'rgb(' | remove: ')' }};
      --color-overlay-opacity: {{ section.settings.color-overlay-opacity | divided_by: 100.0 }};
    {% endif %}

    {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-custom-text: {{ section.settings.color-body-text }};
    {% endif %}

    {% if section.settings.full-width-enabled %}
        --border-radius: 0;
    {% endif %}

    {% if section.settings.margin-top %}
        --section-gap-top: {{ section.settings.margin-top }}px;
    {% endif %}

    {% if section.settings.margin-bottom %}
        --section-gap-bottom: {{ section.settings.margin-bottom }}px;
    {% endif %}

    {% if section.settings.slide_height == 'fixed_height' %}
        --section-height: {{ section.settings.mobile_fixed_height }}px;
        --section-height-desk: {{ section.settings.desktop_fixed_height }}px;
    {% endif %}

    {% if section.settings.slide_height == 'adapt_to_first_image' %}
        --first-slide-ratio: {{ section.blocks.first.settings.mobile_image.aspect_ratio | default: 1 }};
        --first-slide-ratio-desk: {{ section.blocks.first.settings.desktop_image.aspect_ratio | default: 2.5 }};
    {% endif %}

      --desktop-percentage-image-width: {{ section.settings.desktop-percentage-image-width }}%;
      --desktop-percentage-image-width-number: {{ section.settings.desktop-percentage-image-width | divided_by: 100.0 }};

      --font-headline-scale-desk: {{ section.settings.size_heading | divided_by: 100.0 }};
      --font-headline-scale: {{ section.settings.size_heading_mobile | divided_by: 100.0 }};

  }
</style>

{% if section.settings.layout == 'text_first' %}
  {% assign customclass = 'hero--grid hero--grid--rev' %}
{% else %}
  {% assign customclass = 'hero--grid' %}
{% endif %}

{% if section.settings['full-width-enabled'] %}
  {% assign customwrapperclass = 'hero__wrapper--full' %}
{% else %}
  {% assign customwrapperclass = 'hero__wrapper' %}
{% endif %}

{% if  section.settings.show_placeholder_image %}
  {% assign placeholder_image = 'collection-apparel-1' %}
{% else %}
  {% assign placeholder_image = null %}
{% endif %}

<div
  data-section-id="{{ section.id }}"
  class="{{ customwrapperclass }} {% if collection.image == blank and placeholder_image == null %}hero--hidden-placeholder{% endif %}"
  data-adapt="{% if section.settings.slide_height == 'adapt_to_first_image' %}image{% else %}fixed{% endif %}"
>
  <div class="{% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}">
    {% render 'hero',
      type: 'blocks',
      classname: customclass,
      desktop_text_horizontal_position: section.settings.desktop_text_horizontal_position,
      desktop_text_vertical_position: section.settings.desktop_text_vertical_position,
      mobile_text_horizontal_position: section.settings.mobile_text_horizontal_position,
      desktop_image: collection.image,
      mobile_image: collection.image,
      placeholder: placeholder_image,
      heading_h1: collection.title,
      text: collection.description,
      loader: true,
      show_collection_description: section.settings.show_collection_description
    %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "collection-banner spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_placeholder_image",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_placeholder_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.section-height"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "range",
      "id": "desktop-percentage-image-width",
      "min": 30,
      "max": 70,
      "step": 1,
      "unit": "%",
      "default": 50,
      "label": "t:sections.image-with-text.settings.desktop-percentage-image-width.label"
    },
    {
      "type": "radio",
      "id": "slide_height",
      "label": "t:sections.slideshow.settings.slide.slide_height.default.label",
      "options": [
        {
          "value": "adapt_to_first_image",
          "label": "t:sections.slideshow.settings.slide.slide_height.adapt_to_first_image.label"
        },
        {
          "value": "fixed_height",
          "label": "t:sections.slideshow.settings.slide.slide_height.fixed_height.label"
        }
      ],
      "default": "fixed_height"
    },
    {
      "type": "range",
      "id": "desktop_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 320,
      "label": "t:sections.slideshow.settings.slide.desktop_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "range",
      "id": "mobile_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 460,
      "label": "t:sections.slideshow.settings.slide.mobile_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "checkbox",
      "id": "full-width-enabled",
      "label": "t:sections.settings.settings.section-full-width.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.text"
    },
    {
      "type": "range",
      "id": "size_heading",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 100,
      "label": "t:sections.settings.settings.size-heading.label",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_heading_mobile",
      "min": 80,
      "max": 300,
      "step": 10,
      "default": 100,
      "label": "t:sections.settings.settings.size-heading-mobile.label",
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.global.desktop_version"
    },
    {
      "type": "select",
      "id": "desktop_text_vertical_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-banner.settings.desktop_text_vertical_position.top.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_text_vertical_position.center.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-banner.settings.desktop_text_vertical_position.bottom.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_text_vertical_position.label"
    },
    {
      "type": "select",
      "id": "desktop_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.mobile_version"
    },
    {
      "type": "select",
      "id": "mobile_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "color-overlay",
      "default": "transparent",
      "label": "t:sections.settings.settings.background-color.label"
    },
    {
      "type": "range",
      "id": "color-overlay-opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "label": "t:sections.settings.settings.background-opacity.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 40,
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 0,
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
