{% assign background_rgb = section.settings.background_color | color_to_rgb %}
{% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}

<style type="text/css">
  .password-logo {
    max-width: {{ section.settings.logo_width }}px;
  }

  [data-section-id="{{ section.id }}"]
      {
          {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
          --color-custom-background: {{ section.settings.background_color }};
          {% endif %}

          {% if section.settings.margin-top %}
              --section-gap-top: {{ section.settings.margin-top }}px;
          {% endif %}

          {% if section.settings.margin-bottom %}
              --section-gap-bottom: {{ section.settings.margin-bottom }}px;
          {% endif %}

          {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
            --color-custom-text: {{ section.settings.color-body-text }};
          {% endif %}
      }
</style>

<div class="wt-password__page-header" data-section-id="{{ section.id }}">
  <div class="password-header">
    <h1 itemscope itemtype="http://schema.org/Organization" class="wt-header__logo">
      {%- if settings.layout == 'option_1' -%}
        <a href="#" class="wt-header__icon wt-header__menu-trigger wt-icon" rel="toggle-menu" aria-label="Toggle Menu">
          {% render 'icons', id: 'bars' %}
        </a>
      {%- endif -%}

      <a
        href="{{ routes.root_url }}"
        class="wt-header__logo__link"
        style="
          {% if section.settings.logo %}
          --logo-width: {{ section.settings.mobile_screen_logo_width }}px;
          --logo-width-desk: {{ section.settings.large_screen_logo_width }}px;
          {% endif %}
        "
      >
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = settings.large_screen_logo_width | append: 'x' -%}

          {% comment %}
            <img
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              class="wt-header__logo__img"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {% endcomment %}
          {% assign alt_text = section.settings.logo.alt | default: shop.name | escape %}
          {{
            section.settings.logo
            | image_url: width: section.settings.logo.width
            | image_tag: class: 'wt-header__logo__img', loading: 'lazy', alt: alt_text
          }}

          {%- assign image_size = section.settings.mobile_screen_logo_width | append: 'x' -%}
          <img
            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            src="{{ section.settings.logo | img_url: image_size }}"
            loading="lazy"
            width="{{ section.settings.logo.width }}"
            class="wt-header__logo__img wt-header__logo__img--mobile"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
          >
        {%- else -%}
          {{ shop.name }}
        {%- endif -%}
      </a>
    </h1>

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="modal__toggle-open password-link link underlined-link">
            {% render 'icon-padlock' %}
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__content" tabindex="-1">
            <button
              aria-label="{{ 'accessibility.close' | t }}"
              type="button"
              class="modal__close-button link"
            >
              {% render 'icon-close' %}
            </button>
            <h2 class="password-modal__content-heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form main-password' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >

                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {%- render 'icon-error' %}
                      {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button
                aria-label="{{ 'general.password_page.login_form_submit' | t }}"
                name="commit"
                class="password-button button button--outline"
              >
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{% if section.settings.show_underline %}<hr>{% endif %}

{% schema %}
{
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "large_screen_logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 120,
      "unit": "t:sections.header.settings.large_screen_logo_width.unit",
      "label": "t:sections.header.settings.large_screen_logo_width.label"
    },
    {
      "type": "range",
      "id": "mobile_screen_logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 90,
      "unit": "t:sections.header.settings.mobile_screen_logo_width.unit",
      "label": "t:sections.header.settings.mobile_screen_logo_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_underline",
      "label": "t:sections.header.settings.show_line_separator.label",
      "default": true,
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "transparent",
      "label": "t:sections.settings.settings.background-color.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
