{% assign background_rgb = section.settings['color-bg-overlay'] | color_to_rgb %}
{% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}
<style>
  section[id="shopify-section-{{ section.id }}"]{
      {% if section.settings.full-width-enabled %}
        --border-radius: 0;
      {% endif %}

      {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-overlay-rgb: {{ section.settings.color-bg-overlay | color_to_rgb | remove: 'rgb(' | remove: ')' }};
        --color-overlay-opacity: {{ section.settings['color-overlay-opacity'] | divided_by: 100.0 }};
      {% endif %}

      {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-custom-text: {{ section.settings.color-body-text }};
      {% endif %}

      {% if section.settings.margin-top %}
          --section-gap-top: {{ section.settings.margin-top }}px;
      {% endif %}

      {% if section.settings.margin-bottom %}
          --section-gap-bottom: {{ section.settings.margin-bottom }}px;
      {% endif %}

      --font-headline-scale-desk: {{ section.settings.size_heading | divided_by: 100.0 }};

      --font-headline-scale: {{ section.settings.size_heading_mobile | divided_by: 100.0 }};

  }
</style>

<div
  data-section-id="{{ section.id }}"
  class="wt-page {% if section.settings.compact-size-enabled == true %}  wt-page--compact{% endif %}"
>
  <h1 class="wt-page__title">
    {{ page.title | escape }}
  </h1>
  <div class="rte wt-page__wrapper">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.main_name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "compact-size-enabled",
      "label": "Use compact size for big screens",
      "default": true
    },
    {
      "type": "range",
      "id": "size_heading",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 140,
      "label": "t:sections.settings.settings.size-heading.label",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_heading_mobile",
      "min": 80,
      "max": 300,
      "step": 10,
      "default": 100,
      "label": "t:sections.settings.settings.size-heading-mobile.label",
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "color-bg-overlay",
      "default": "transparent",
      "label": "t:sections.settings.settings.background-color.label"
    },
    {
      "type": "range",
      "id": "color-overlay-opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "label": "t:sections.settings.settings.background-opacity.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 0,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
