{% assign background_rgb = section.settings.background_color | color_to_rgb %}
{% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}

<style>
    [data-section-id="{{ section.id }}"]
    {
        {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
          --color-background: {{ section.settings.background_color }};
          --color-background-rgb: {{ section.settings.background_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
          --color-background-opacity: {{ section.settings.background_color_opacity | divided_by: 100.0 }};
          --color-background-blur: {{ section.settings.background_blur }}px;
        {% endif %}

        {% if section.settings.margin-top %}
            --section-gap-top: {{ section.settings.margin-top }}px;
        {% endif %}

        {% if section.settings.margin-bottom %}
            --section-gap-bottom: {{ section.settings.margin-bottom }}px;
        {% endif %}

        {% if section.settings.slide_height == 'fixed_height' %}
          --section-height: {{ section.settings.mobile_fixed_height }}px;
          --section-height-desk: {{ section.settings.desktop_fixed_height }}px;
        {% endif %}

        {% if section.settings.slide_height == 'adapt_to_first_image' %}
            --first-slide-ratio: {{ section.settings.mobile_image.aspect_ratio | default: 1 }};
            --first-slide-ratio-desk: {{ section.settings.desktop_image.aspect_ratio | default: 2.5 }};
        {% endif %}

    {% assign mobile_image = section.settings.mobile_image %}
    {% assign desktop_image = section.settings.desktop_image %}

    {% if mobile_image and desktop_image %}
        --mobile-image: url('{{ mobile_image | image_url: width: 3080 }}');
        --mobile-focal-points: {{ mobile_image.presentation.focal_point }};

        --desktop-image: url('{{ desktop_image | image_url: width: 3080 }}');
        --desktop-focal-points: {{ desktop_image.presentation.focal_point }};
    {% elsif mobile_image %}
        --mobile-image: url('{{ mobile_image | image_url: width: 3080 }}');
        --mobile-focal-points: {{ mobile_image.presentation.focal_point }};

        --desktop-image: url('{{ mobile_image | image_url: width: 3080 }}');
        --desktop-focal-points: {{ mobile_image.presentation.focal_point }};
    {% elsif desktop_image %}
        --desktop-image: url('{{ desktop_image | image_url: width: 3080 }}');
        --desktop-focal-points: {{ desktop_image.presentation.focal_point }};

        --mobile-image: url('{{ desktop_image | image_url: width: 3080 }}');
        --mobile-focal-points: {{ desktop_image.presentation.focal_point }};
    {% endif %}
    }


    [data-section-id="{{ section.id }}"] .headline__title,
    [data-section-id="{{ section.id }}"] .hero__text
    {
        {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
          --color-custom-text: {{ section.settings.color-body-text }};
        {% endif %}
    }

  {%- for block in section.blocks -%}
    [data-block-id="{{ block.id }}"]
    {

          --font-headline-scale-desk: {{ block.settings.size_heading | divided_by: 100.0 }};

          --font-headline-scale: {{ block.settings.size_heading_mobile | divided_by: 100.0 }};

    }
  {%- endfor -%}

  hr{
    color: var(--color-border);
  }
</style>

<div
  data-section-id="{{ section.id }}"
  class="newsletter newsletter-with-image {% if section.settings.slide_height == 'adapt_to_first_image' %} newsletter-with-image--adapt {% endif %}"
>
  <div>
    <div class="newsletter__wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'heading' -%}
            <div
              data-block-id="{{ block.id }}"
              class="{% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %} hero__title {% if block.settings.heading_disable_on_mobile == true %} hero__title--mobile{% endif %}"
            >
              {% render 'headline', title: block.settings.heading %}
            </div>
          {%- when 'paragraph' -%}
            <div class="{% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %} hero__text newsletter__text{% if block.settings.text_disable_on_mobile == true %} hero__text--mobile{% endif %}">
              {{ block.settings.paragraph }}
            </div>
          {%- when 'email_form' -%}
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[email]" value="newsletter">

              <div class="{% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %} wt-newsletter__fieldset">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="wt-newsletter__field"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                >

                <button
                  aria-label="{% if block.settings.button_label != blank %}{{ block.settings.button_label }}{% else %}{{'newsletter.button_label' | t }}{% endif %}"
                  type="submit"
                  class="wt-newsletter__send wt-newsletter__send--{{ block.settings.button_select }}"
                  name="commit"
                >
                  <span class="wt-newsletter__send__text">
                    {% if block.settings.button_label != blank %}{{ block.settings.button_label }}{% else %}{{'newsletter.button_label' | t }}{% endif %}
                  </span>
                </button>
              </div>
              {%- if form.errors -%}
                <div class="form__message">
                  <div class="form__error-field">
                    <p id="Newsletter-error--{{ section.id }}">
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </p>
                  </div>
                </div>
              {%- endif -%}

              {%- if form.posted_successfully? -%}
                <div class="form__message">
                  <div class="form__success-field" tabindex="-1" autofocus>
                    <p>{{- 'newsletter.success' | t }}</p>
                  </div>
                </div>
              {%- endif -%}
            {% endform %}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter-with-image.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.section-height"
    },
    {
      "type": "radio",
      "id": "slide_height",
      "label": "t:sections.slideshow.settings.slide.slide_height.default.label",
      "options": [
        {
          "value": "adapt_to_first_image",
          "label": "t:sections.slideshow.settings.slide.slide_height.adapt_to_first_image.label"
        },
        {
          "value": "fixed_height",
          "label": "t:sections.slideshow.settings.slide.slide_height.fixed_height.label"
        }
      ],
      "default": "fixed_height"
    },
    {
      "type": "range",
      "id": "desktop_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 320,
      "label": "t:sections.slideshow.settings.slide.desktop_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "range",
      "id": "mobile_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 460,
      "label": "t:sections.slideshow.settings.slide.mobile_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.desktop_version"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.settings.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.mobile_version"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.settings.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "transparent",
      "label": "t:sections.global.text-container-color"
    },
    {
      "type": "range",
      "id": "background_color_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "label": "t:sections.newsletter-with-image.settings.background_opacity.label",
      "info": "t:sections.newsletter-with-image.settings.background_opacity.info"
    },
    {
      "type": "range",
      "id": "background_blur",
      "min": 0,
      "max": 35,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "t:sections.newsletter-with-image.settings.background_blur.label",
      "info": "t:sections.newsletter-with-image.settings.background_blur.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-top.label"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 4,
      "default": 20,
      "label": "t:sections.settings.settings.distance-bottom.label",
      "info": "t:sections.settings.settings.distance-bottom.info"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "heading_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "range",
          "id": "size_heading",
          "min": 50,
          "max": 500,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading.label",
          "unit": "%"
        },
        {
          "type": "range",
          "id": "size_heading_mobile",
          "min": 80,
          "max": 300,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading-mobile.label",
          "unit": "%"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.settings.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "text_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_select",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.settings.settings.button_select.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.settings.settings.button_select.secondary.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.settings.settings.button_select.default.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.image-with-text.button.settings.button_label.label"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter-with-image.name",
      "category": "t:sections.categories.forms",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
