<script src="{{ 'page-header-image-video.js' | asset_url }}" defer="defer"></script>

{% if template == 'index' %}
  {{ 'section-video.css' | asset_url | stylesheet_tag }}

  {% assign background_section_rgb = section.settings['section-color-overlay'] | color_to_rgb %}
  {% assign heading_rgb = section.settings['color-heading-text'] | color_to_rgb %}

  {% assign background_rgb = section.settings['color-overlay'] | color_to_rgb %}
  {% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}

  <style>
    [data-section-id="{{ section.id }}"] .headline__title{
    {% if heading_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-custom-text: {{ section.settings.color-heading-text }};
    {% endif %}
    }

    [data-section-id="{{ section.id }}"] .wt__video {
    {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-custom-text: {{ section.settings.color-body-text }};
    {% endif %}
    }

    [data-section-id="{{ section.id }}"] {

        --border-radius: 0;

    {% if section.settings.slide_height == 'fixed_height' %}
        --section-height: {{ section.settings.mobile_fixed_height }}px;
        --section-height-desk: {{ section.settings.desktop_fixed_height }}px;
    {% endif %}

    {% if section.settings.slide_height == 'adapt_to_first_image' %}
        --first-slide-ratio: {{ section.blocks.first.settings.mobile_image.aspect_ratio | default: 1 }};
        --first-slide-ratio-desk: {{ section.blocks.first.settings.desktop_image.aspect_ratio | default: 2.5 }};
    {% endif %}

    }

    [data-section-id="{{ section.id }}"] .hero__overlay {

    {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-custom-text: {{ section.settings.color-body-text }};
    {% endif %}

    {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --color-overlay-rgb: {{ section.settings.color-overlay | color_to_rgb | remove: 'rgb(' | remove: ')' }};
        --color-overlay-opacity: {{ section.settings.color-overlay-opacity | divided_by: 100.0 }};
    {% else %}
        --text-container-opacity: 0;
    {% endif %}
    }

    {%- for block in section.blocks -%}
    [data-block-id="{{ block.id }}"] {
        --font-headline-scale-desk: {{ block.settings.size_heading | divided_by: 100.0 }};

        --font-headline-scale: {{ block.settings.size_heading_mobile | divided_by: 100.0 }};

        {% if block.type == 'icon_with_text' %}
          --icon-height-desktop: {{ block.settings.icon_height_desktop }}px;
          --icon-height: {{ block.settings.icon_height }}px;
          --icon-margin-desktop: {{ block.settings.icon_margin_desktop }}px;
          --icon-margin: {{ block.settings.icon_margin }}px;
          --size-heading-desktop: {{ block.settings.size_heading | divided_by: 100.0 }};
          --size-heading: {{ block.settings.size_heading_mobile | divided_by: 100.0 }};
          --gap: {{ block.settings.gap }}px;
          --margin-top: {{ block.settings.margin_top }}px;
          --margin-bottom: {{ block.settings.margin_bottom }}px;
          --margin-left: {{ block.settings.margin_left }}px;
          --margin-left-desktop: {{ block.settings.margin_left_desktop }}px;
        {% endif %}
    }
    {%- endfor -%}
  </style>

  {% assign width_line = 'wt-section__wrapper wt-section__wrapper--full' %}

  {%- liquid
    assign video_id = section.settings.video.id | default: section.settings.video_url.id
  -%}

  <script src="{{ 'low-power-video.js' | asset_url }}" defer="defer"></script>

  <page-header-image-video
    class="{{ width_line }}"
    data-section-id="{{ section.id }}"
    data-content-position="{{ section.settings.content_position }}"
  >
    {% if section.settings.layout == 'video_first' %}
      {% assign class_name = 'wt-video--rev' %}
    {% else %}
      {% assign class_name = '' %}
    {% endif %}


    {%liquid
      assign video_controls = section.settings.video_controls
      assign video_controls_embedded = 0
      if video_controls
        assign video_controls_embedded = 1
      endif

      assign video_autoplay = section.settings.autoplay
      assign video_autoplay_embedded = 0
      if video_autoplay
        assign video_autoplay_embedded = 1
      endif

      assign video_loop = section.settings.video_loop
      assign video_loop_embedded = 0
      if video_loop
       assign video_loop_embedded = 1
     endif

      assign video_muted = false
      assign video_muted_embedded = 0

      assign custom_controls = false
      if section.settings.video_custom_play_controls or section.settings.video_custom_mute_controls
        assign custom_controls = true
      endif


      if section.settings.autoplay
        assign video_muted = true
        assign video_muted_embedded = 1
      endif
    %}


      <div
        class="{% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %} wt-video {{ class_name }}"
        data-section-id="{{ section.id }}"
        data-mobile="{{ section.settings.layout_mobile }}"
        data-height="{{ section.settings.slide_height }}"
      >
        {% render 'hero',
          type: 'blocks',
          classname: 'wt-video__item wt-video__item--hero',
          desktop_text_horizontal_position: section.settings.desktop_text_horizontal_position,
          desktop_text_vertical_position: section.settings.desktop_text_vertical_position,
          mobile_text_horizontal_position: section.settings.mobile_text_horizontal_position,
          mobile_text_vertical_position: section.settings.mobile_text_vertical_position,
          desktop_image: section.settings.desktop_image,
          mobile_image: section.settings.mobile_image,
          placeholder: 'collection-apparel-1',
          blocks: section.blocks,
          href_only_on_button: false,
          loading_option: 'eager',
          lcp_tweak: true
        %}

        <div class="wt-video__movie wt-video__movie--shopify-video wt-video__item">
          {% render 'hero',
            type: 'blocks',
            classname: 'wt-video__item wt-video__item--over-video',
            desktop_text_horizontal_position: section.settings.desktop_text_horizontal_position,
            desktop_text_vertical_position: section.settings.desktop_text_vertical_position,
            mobile_text_horizontal_position: section.settings.mobile_text_horizontal_position,
            mobile_text_vertical_position: section.settings.mobile_text_vertical_position,
            placeholder: 'collection-apparel-1',
            blocks: section.blocks,
            href_only_on_button: false,
            hide_image: true
          %}

          <div class="wt-video__movie__video-hosted-wrapper">
            {% if section.settings.video_hosted %}
              <div class="wt-video-hosted wt-video-hosted--desktop">
                <low-power-video>
                  {% if custom_controls %}
                    <video-controls>
                    {% if section.settings.video_custom_play_controls %}
                      {% render 'play-pause-button', classname: mobile_video_class %}
                    {% endif %}

                    {% if section.settings.video_custom_mute_controls %}
                      {%liquid
                        assign sound_state = 'off'
                        if video_muted != true
                          assign sound_state = 'on'
                        endif
                      %}
                      {% render 'unmute-button', initial_state: sound_state %}
                    {% endif %}
                  {% endif %}

                    {{
                      section.settings.video_hosted
                      | video_tag: autoplay: video_autoplay, loop: video_loop, muted: video_muted, controls: video_controls, image_size: '600x'
                    }}

                  {% if custom_controls %}
                    </video-controls>
                  {% endif %}
                </low-power-video>
              </div>

            {% else %}

              <div class="wt-video-hosted wt-video-hosted--desktop wt-video-hosted--placeholder">
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero__img hero__img--placeholder' }}
              </div>

            {% endif %}            

            {% if section.settings.video_hosted_mobile %}
              <div class="wt-video-hosted wt-video-hosted--mobile">
                <low-power-video>
                  {% if custom_controls %}
                    <video-controls>
                    {% if section.settings.video_custom_play_controls %}
                      {% render 'play-pause-button', classname: mobile_video_class %}
                    {% endif %}

                    {% if section.settings.video_custom_mute_controls %}
                      {%liquid
                        assign sound_state = 'off'
                        if video_muted != true
                          assign sound_state = 'on'
                        endif
                      %}
                      {% render 'unmute-button', initial_state: sound_state %}
                    {% endif %}
                  {% endif %}

                  {{
                    section.settings.video_hosted_mobile
                    | video_tag: autoplay: video_autoplay, loop: video_loop, muted: video_muted, controls: video_controls, image_size: '600x'
                  }}

                  {% if custom_controls %}
                    </video-controls>
                  {% endif %}
                </low-power-video>
              </div>
            {% else %}

              <div class="wt-video-hosted wt-video-hosted--mobile wt-video-hosted--placeholder">
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero__img--placeholder' }}
              </div>

            {% endif %}
          </div>
        </div>
      </div>
  </page-header-image-video>

  <script>
    (() => {
      const currentSection = document.querySelector('.wt-video__section--header');

      function isValidSectionsOrder() {
        const pageHeader = document.body.querySelector('header.page-header');

        if (pageHeader && currentSection) {
          let sibling = pageHeader.nextElementSibling;
          while (sibling && sibling.tagName.toLowerCase() !== 'section') {
            sibling = sibling.nextElementSibling;
          }
          return sibling === currentSection;
        }
        return false;
      }

      function isTransparentHeaderEnabled() {
        const header = document.querySelector('.wt-header');
        return isValidSectionsOrder() && Boolean(header?.dataset.transparent);
      }

      function calculateOffset() {
        const header = document.querySelector('header');
        const headerHeight = header.offsetHeight;

        const announcement = document.querySelector('.wt-announcement');
        const announcementHeight = announcement ? announcement.offsetHeight : 0;
        const offset = isTransparentHeaderEnabled() ? headerHeight + announcementHeight : 0;

        return offset;
      }

      function setTopMargin() {
        const offset = calculateOffset();
        currentSection.style.marginTop = `-${offset}px`;
      }

      if (isTransparentHeaderEnabled()) {
        setTopMargin();
      }
    })();
  </script>
{% endif %}

{% schema %}
{
  "name": "Image with video (Home)",
  "tag": "section",
  "class": "wt-video__section wt-video__section--header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.video.settings.content_position.heading.label",
      "info": "t:sections.video.settings.content_position.heading.info"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.video.settings.content_position.label",
      "options": [
        {
          "value": "over_image",
          "label": "t:sections.video.settings.content_position.options__1.label"
        },
        {
          "value": "over_video",
          "label": "t:sections.video.settings.content_position.options__2.label"
        }
      ],
      "default": "over_image"
    },
    {
      "type": "header",
      "content": "t:sections.global.section-height"
    },
    {
      "type": "radio",
      "id": "slide_height",
      "label": "t:sections.slideshow.settings.slide.slide_height.default.label",
      "options": [
        {
          "value": "adapt_to_first_image",
          "label": "t:sections.slideshow.settings.slide.slide_height.adapt_to_first_image.label"
        },
        {
          "value": "fixed_height",
          "label": "t:sections.slideshow.settings.slide.slide_height.fixed_height.label"
        }
      ],
      "default": "fixed_height"
    },
    {
      "type": "range",
      "id": "desktop_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 560,
      "label": "t:sections.slideshow.settings.slide.desktop_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "range",
      "id": "mobile_fixed_height",
      "min": 200,
      "max": 1000,
      "unit": "px",
      "step": 20,
      "default": 460,
      "label": "t:sections.slideshow.settings.slide.mobile_fixed_height.label",
      "info": "t:sections.background-video.settings.original_ratio.option__1.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.video",
      "info": "t:sections.background-video.settings.video.info"
    },
    {
      "type": "video",
      "id": "video_hosted_mobile",
      "label": "t:sections.background-video.settings.shopify_hosted_video_mobile.label"
    },
    {
      "type": "video",
      "id": "video_hosted",
      "label": "t:sections.background-video.settings.shopify_hosted_video_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.background-video.settings.autoplay.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "video_loop",
      "label": "t:sections.background-video.settings.video_loop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "video_controls",
      "label": "t:sections.background-video.settings.video_controls.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_custom_play_controls",
      "label": "t:sections.background-video.settings.video_custom_play_controls.label",
      "visible_if": "{{ section.settings.video_controls == false }}",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_custom_mute_controls",
      "label": "t:sections.background-video.settings.video_custom_mute_controls.label",
      "visible_if": "{{ section.settings.video_controls == false }}",
      "default": false
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "options": [
        {
          "value": "video",
          "label": "t:sections.video.settings.layout_mobile.show_video.label"
        },
        {
          "value": "hero",
          "label": "t:sections.video.settings.layout_mobile.hide_video.label"
        },
        {
          "value": "both",
          "label": "t:sections.video.settings.layout_mobile.show_both.label"
        }
      ],
      "default": "video",
      "label": "t:sections.video.settings.layout_mobile.default.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "video_first",
          "label": "t:sections.video.settings.layout.options__1.label"
        },
        {
          "value": "hero_first",
          "label": "t:sections.video.settings.layout.options__2.label"
        }
      ],
      "default": "hero_first",
      "label": "t:sections.video.settings.layout.default.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "color-overlay",
      "default": "transparent",
      "label": "t:sections.global.text-container-color"
    },
    {
      "type": "range",
      "id": "color-overlay-opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "label": "t:sections.settings.settings.background-opacity.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.desktop_version"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:sections.settings.settings.image.label"
    },
    {
      "type": "select",
      "id": "desktop_text_vertical_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.video.settings.desktop_text_vertical_position.top.label"
        },
        {
          "value": "center",
          "label": "t:sections.video.settings.desktop_text_vertical_position.center.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.video.settings.desktop_text_vertical_position.bottom.label"
        }
      ],
      "default": "center",
      "label": "t:sections.video.settings.desktop_text_vertical_position.default.label"
    },
    {
      "type": "select",
      "id": "desktop_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.video.settings.desktop_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.video.settings.desktop_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.video.settings.desktop_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.video.settings.desktop_text_horizontal_position.default.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.mobile_version"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.settings.settings.image.label"
    },
    {
      "type": "select",
      "id": "mobile_text_vertical_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.video.settings.mobile_text_vertical_position.top.label"
        },
        {
          "value": "center",
          "label": "t:sections.video.settings.mobile_text_vertical_position.center.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.video.settings.mobile_text_vertical_position.bottom.label"
        }
      ],
      "default": "center",
      "label": "t:sections.video.settings.mobile_text_vertical_position.default.label"
    },
    {
      "type": "select",
      "id": "mobile_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.video.settings.mobile_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.video.settings.mobile_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.video.settings.mobile_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.video.settings.mobile_text_horizontal_position.default.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "default": "Video scene",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "range",
          "id": "size_heading",
          "min": 50,
          "max": 500,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading.label",
          "unit": "%"
        },
        {
          "type": "range",
          "id": "size_heading_mobile",
          "min": 80,
          "max": 300,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading-mobile.label",
          "unit": "%"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.settings.settings.text.label",
          "default": "<p>Your story in motion.</p>"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-banner.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_select",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.settings.settings.button_select.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.settings.settings.button_select.secondary.label"
            },
            {
              "value": "link",
              "label": "t:sections.settings.settings.button_select.link.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.settings.settings.button_select.default.label"
        },
        {
          "id": "button_label",
          "type": "text",
          "default": "See all products",
          "label": "t:sections.settings.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.settings.settings.link.label",
          "default": "/"
        },
        {
          "type": "checkbox",
          "id": "button_link_in_new_window",
          "label": "t:sections.global.button_link_in_new_window",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "t:sections.settings.settings.icon-with-text.label",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.settings.settings.icon.label"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.settings.settings.image.label"
        },
        {
          "type": "select",
          "id": "select_icon",
          "options": [
            {
              "value": "bag",
              "label": "t:sections.features-banner.settings.image.select_icon.bag.label"
            },
            {
              "value": "user",
              "label": "t:sections.features-banner.settings.image.select_icon.user.label"
            },
            {
              "value": "heart",
              "label": "t:sections.features-banner.settings.image.select_icon.heart.label"
            },
            {
              "value": "bars",
              "label": "t:sections.features-banner.settings.image.select_icon.bars.label"
            },
            {
              "value": "search",
              "label": "t:sections.features-banner.settings.image.select_icon.search.label"
            },
            {
              "value": "plus",
              "label": "t:sections.features-banner.settings.image.select_icon.plus.label"
            },
            {
              "value": "close",
              "label": "t:sections.features-banner.settings.image.select_icon.close.label"
            },
            {
              "value": "arrow-right",
              "label": "t:sections.features-banner.settings.image.select_icon.arrow-right.label"
            },
            {
              "value": "arrow-left",
              "label": "t:sections.features-banner.settings.image.select_icon.arrow-left.label"
            },
            {
              "value": "arrow-down",
              "label": "t:sections.features-banner.settings.image.select_icon.arrow-down.label"
            },
            {
              "value": "star",
              "label": "t:sections.features-banner.settings.image.select_icon.star.label"
            },
            {
              "value": "star_fill",
              "label": "t:sections.features-banner.settings.image.select_icon.star_fill.label"
            },
            {
              "value": "filter",
              "label": "t:sections.features-banner.settings.image.select_icon.filter.label"
            },
            {
              "value": "check",
              "label": "t:sections.features-banner.settings.image.select_icon.check.label"
            },
            {
              "value": "bin",
              "label": "t:sections.features-banner.settings.image.select_icon.bin.label"
            },
            {
              "value": "soc-fb",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-fb.label"
            },
            {
              "value": "soc-inst",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-inst.label"
            },
            {
              "value": "soc-twitter",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-twitter.label"
            },
            {
              "value": "soc-pint",
              "label": "t:sections.features-banner.settings.image.select_icon.soc-pint.label"
            }
          ],
          "default": "bag",
          "label": "t:sections.features-banner.settings.image.select_icon.default.label"
        },
        { 
          "type": "checkbox",
          "id": "icon_advanced_settings",
          "label": "More icon settings"
        },
        {
          "type": "range",
          "id": "icon_height_desktop",
          "label": "t:sections.settings.settings.icon_scale_desktop.label",
          "min": 10,
          "max": 42,
          "step": 1,
          "default": 28,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "range",
          "id": "icon_height",
          "label": "t:sections.settings.settings.icon_scale_mobile.label",
          "min": 10,
          "max": 42,
          "step": 1,
          "default": 27,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "range",
          "id": "icon_margin_desktop",
          "label": "t:sections.settings.settings.icon_top_margin_desktop.label",
          "min": 0,
          "max": 16,
          "step": 1,
          "default": 0,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "range",
          "id": "icon_margin",
          "label": "t:sections.settings.settings.icon_top_margin_mobile.label",
          "min": 0,
          "max": 16,
          "step": 1,
          "default": 0,
          "unit": "px",
          "visible_if": "{{ block.settings.icon_advanced_settings }}"
        },
        {
          "type": "header",
          "content": "t:sections.settings.settings.text.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Add a short description</p>",
          "label": "t:sections.settings.settings.text.label",
        },
        {
          "type": "range",
          "id": "size_heading",
          "min": 40,
          "max": 220,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-text.label",
          "unit": "%"
        },
        {
          "type": "range",
          "id": "size_heading_mobile",
          "min": 40,
          "max": 220,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-text-mobile.label",
          "unit": "%"
        },
        {
          "type": "header",
          "content": "t:sections.settings.settings.spacing.label"
        },
        {
          "type": "range",
          "id": "gap",
          "min": 0,
          "max": 16,
          "step": 1,
          "default": 8,
          "label": "t:sections.settings.settings.gap.label",
          "unit": "px"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 8,
          "label": "t:sections.settings.settings.distance-top.label"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 8,
          "label": "t:sections.settings.settings.distance-bottom.label",
        },
        {
          "type": "range",
          "id": "margin_left_desktop",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 0,
          "label": "Spacing from the left desktop"
        },
        {
          "type": "range",
          "id": "margin_left",
          "min": 0,
          "max": 40,
          "unit": "px",
          "step": 4,
          "default": 0,
          "label": "Spacing from the left mobile",
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with video for transparent header",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
