{% if template == 'index' %}
  <script src="{{ 'page-header-logo-banner-v2.js' | asset_url }}" defer="defer"></script>

  {{ 'section-video.css' | asset_url | stylesheet_tag }}
  {{ 'section-logo-banner.css' | asset_url | stylesheet_tag }}

  {% assign background_rgb = section.settings['color-overlay'] | color_to_rgb %}
  {% assign text_rgb = section.settings['color-body-text'] | color_to_rgb %}

  <style>
    [data-section-id="{{ section.id }}"] {
      --image-overlay-opacity: {{ section.settings.image_hosted_opacity | divided_by: 100.0 }};
      --image-overlay-mobile-opacity: {{ section.settings.image_hosted_mobile_opacity | divided_by: 100.0 }};

    {% if text_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-custom-text: {{ section.settings.color-body-text }};
    {% endif %}
    {% if background_rgb != 'rgba(0, 0, 0, 0.0)' %}
      --color-overlay-rgb: {{ section.settings.color-overlay | color_to_rgb | remove: 'rgb(' | remove: ')' }};
      --color-overlay-opacity: {{ section.settings.color-overlay-opacity | divided_by: 100.0 }};
    {% endif %}
    }

    {%- for block in section.blocks -%}
    [data-block-id="{{ block.id }}"]
    {
      --font-headline-scale-desk: {{ block.settings.size_heading | divided_by: 100.0 }};
      --font-headline-scale: {{ block.settings.size_heading_mobile | divided_by: 100.0 }};

      {% if block.type == 'text' and block.settings.text_style == 'subtitle' %}
        --font-base: var(--font-headline);
      {% endif %}
    }
    {%- endfor -%}
  </style>

  {% assign width_line = 'wt-section__wrapper' %}

  {%- liquid
    assign video_id = section.settings.video.id | default: section.settings.video_url.id
  -%}

  <script src="{{ 'low-power-video.js' | asset_url }}" defer="defer"></script>

  <page-header-logo-banner-new
    class="{{ width_line }} "
    data-section-id="{{ section.id }}"
    {% if request.design_mode %}
      data-design-mode="true"
    {% endif %}
  >
    {% if section.settings.layout == 'video_first' %}
      {% assign class_name = 'wt-video--rev' %}
    {% else %}
      {% assign class_name = '' %}
    {% endif %}
    <low-power-video>
      <div
        class="wt-video {{ class_name }}"
        data-section-id="{{ section.id }}"
        data-mobile="{{ section.settings.layout_mobile }}"
        data-height="{{ section.settings.slide_height }}"
      >
        <picture class="wt-logo-banner__picture">
          <div
            class="wt-logo-banner__img-wrapper {% if section.settings.logo_image == nil %} wt-logo-banner__img-wrapper--placeholder {% endif %}"
            {% comment %} style="--logo-width-mobile: {{ settings.mobile_screen_logo_width }}px; --logo-width-desk: {{ settings.large_screen_logo_width }}px" {% endcomment %}
          >
            {%- assign large_image_size = 250 -%}
            {%- assign large_image_size_double = large_image_size | times: 2 -%}

            {%- assign logo_image_size = section.settings.logo_image.width -%}
            {%- assign logo_image_size_double = logo_image_size | times: 2 -%}

            {% if section.settings.logo_image != blank %}
              <img
                srcset="{{ section.settings.logo_image | image_url: width: logo_image_size }} 1x, {{ section.settings.logo_image | image_url: width: logo_image_size_double }} 2x"
                src="{{ section.settings.logo_image | image_url: width: logo_image_size }}"
                loading="eager"
                fetchpriority="high"
                width="{{ section.settings.logo_image.width}}"
                height="{{ section.settings.logo_image.height }}"
                class="wt-logo-banner__logo"
                alt="{{ section.settings.logo_image.alt | default: shop.name | escape }}"
                data-nominal-width="{{ large_image_size }}"
                data-nominal-width-mobile="{{ settings.mobile_screen_logo_width }}"
              >
            {% else %}
              <p class="wt-logo-banner__logo wt-logo-banner__logo--placeholder">LOGO</p>
            {% endif %}
          </div>
        </picture>


        {%- if section.settings.video_hosted_mobile -%}
          <div class="wt-video__movie wt-video__movie--shopify-video wt-video__item wt-video__item--mobile-only" data-media-ratio="{{ section.settings.video_hosted.aspect_ratio  }}">
            {{
              section.settings.video_hosted_mobile
              | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '2400x'
            }}
          </div>
        {%- endif -%}

        {%- if section.settings.video_hosted -%}
          <div class="wt-video__movie wt-video__movie--shopify-video wt-video__item" data-media-ratio="{{ section.settings.video_hosted.aspect_ratio  }}">
            {{
              section.settings.video_hosted
              | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '2400x'
            }}
          </div>
        {%- endif -%}

        {%- if section.settings.video_hosted == null -%}
          {% assign picture_ratio = 1 %}
          {% if section.settings.image_hosted %}
            {% assign picture_ratio = section.settings.image_hosted.aspect_ratio %}
          {% elsif section.settings.image_hosted_mobile %}
            {% assign picture_ratio = section.settings.image_hosted_mobile.aspect_ratio %}
          {% endif %}

          <div class="wt-video__movie wt-video__movie--shopify-video wt-video__item wt-video__image" data-media-ratio="{{ picture_ratio  }}">
            {% if section.settings.image_hosted_mobile and section.settings.image_hosted == null %}
              {{ section.settings.image_hosted_mobile | image_url: width: '2000x' | image_tag: width: null }}
            {% elsif section.settings.image_hosted and section.settings.image_hosted_mobile %}
              {{
                section.settings.image_hosted_mobile
                | image_url: width: '2000x'
                | image_tag: width: null, class: 'wt-video__image-mobile'
              }}
              {{ section.settings.image_hosted | image_url: width: '2000x' | image_tag: width: null, class: 'wt-video__image-desktop' }}
            {% elsif section.settings.image_hosted and section.settings.image_hosted_mobile == null %}
              {{ section.settings.image_hosted | image_url: width: '2000x' | image_tag: width: null }}
            {% else %}
              {{ 'hero-apparel-1' | placeholder_svg_tag: 'wt-logo-banner__img-placeholder' }}
            {% endif %}
          </div>
        {%- endif -%}



          <div class="wt-logo-banner__content">
            {% render 'hero',
                type: 'blocks',
                classname: 'logobanner-hero-block',
                blocks: section.blocks,
                desktop_text_vertical_position: 'bottom',
                desktop_text_horizontal_position: section.settings.desktop_text_horizontal_position,
                mobile_text_horizontal_position: section.settings.mobile_text_horizontal_position,
                mobile_text_vertical_position: 'bottom'
            %}
          </div>

      </div>
    </low-power-video>
  </page-header-logo-banner-new>

  <script>
    (() => {
      const currentSection = document.querySelector('section.wt-logo-banner');

      function calculateOffset() {
        function isValidSectionsOrder() {
          const pageHeader = document.body.querySelector('header.page-header');

          if (pageHeader && currentSection) {
            let sibling = pageHeader.nextElementSibling;
            while (sibling && sibling.tagName.toLowerCase() !== 'section') {
              sibling = sibling.nextElementSibling;
            }
            return sibling === currentSection;
          }
          return false;
        }

        function isTransparentHeaderEnabled() {
          const header = document.querySelector('.wt-header');
          return header.dataset.transparent && isValidSectionsOrder() && header.classList.contains('wt-header--v3');
        }

        const header = document.querySelector('header');
        const headerHeight = header.offsetHeight;

        const announcement = document.querySelector('.wt-announcement');
        const announcementHeight = announcement ? announcement.offsetHeight : 0;
        const offset = isTransparentHeaderEnabled() ? headerHeight + announcementHeight : 0;

        return offset;
      }

      function setTopMargin() {
        const offset = calculateOffset();
        currentSection.style.marginTop = `-${offset}px`;
      }

      setTopMargin();
    })();
  </script>
{% endif %}

{% schema %}
{
  "name": "Logo banner with Text",
  "tag": "section",
  "class": "wt-video__section wt-logo-banner wt-logo-banner--v2",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.logo-banner-with-text.settings.important-information.content",
      "info": "t:sections.logo-banner-with-text.settings.important-information.info"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "t:sections.logo-banner.settings.logo-image.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.video",
      "info": "t:sections.background-video.settings.video.info"
    },
    {
      "type": "video",
      "id": "video_hosted",
      "label": "t:sections.logo-banner.settings.video-hosted.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.video_mobile",
      "info": "t:sections.background-video.settings.video.info"
    },
    {
      "type": "video",
      "id": "video_hosted_mobile",
      "label": "t:sections.logo-banner.settings.video-hosted.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.desktop_version"
    },
    {
      "type": "image_picker",
      "id": "image_hosted",
      "label": "t:sections.logo-banner.settings.background-image.label",
      "info": "t:sections.global.video_url_info"
    },
    {
      "type": "header",
      "content": "t:sections.global.mobile_version"
    },
    {
      "type": "image_picker",
      "id": "image_hosted_mobile",
      "label": "t:sections.logo-banner.settings.background-image.label",
      "info": "t:sections.global.video_url_info"
    },
    {
      "type": "header",
      "content": "t:sections.logo-banner.settings.content.label"
    },
    {
      "type": "select",
      "id": "desktop_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_text_horizontal_position.label"
    },
    {
      "type": "select",
      "id": "mobile_text_horizontal_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_text_horizontal_position.right.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_text_vertical_position.label"
    },
    {
      "type": "inline_richtext",
      "id": "content_headline",
      "label": "t:sections.logo-banner.settings.content.headline.label",
      "default": "Your headline here"
    },
    {
      "type": "header",
      "content": "t:sections.global.colors",
      "info": "t:sections.global.colors-info"
    },
    {
      "type": "color",
      "id": "color-body-text",
      "default": "transparent",
      "label": "t:sections.settings.settings.text-color.label"
    },
    {
      "type": "color",
      "id": "color-overlay",
      "default": "transparent",
      "label": "t:sections.settings.settings.background-color.label"
    },
    {
      "type": "range",
      "id": "color-overlay-opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0,
      "label": "t:sections.settings.settings.background-opacity.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Headline here",
          "label": "t:sections.settings.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "range",
          "id": "size_heading",
          "min": 100,
          "max": 500,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading.label",
          "unit": "%"
        },
        {
          "type": "range",
          "id": "size_heading_mobile",
          "min": 80,
          "max": 300,
          "step": 10,
          "default": 100,
          "label": "t:sections.settings.settings.size-heading-mobile.label",
          "unit": "%"
        }
      ]
    },
    {
      "type": "subheading_richtext",
      "name": "t:sections.image-banner.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading_richtext",
          "label": "t:sections.settings.settings.subheading.label",
          "default": "Tell you story"
        },
        {
          "type": "checkbox",
          "id": "subheading_richtext_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.settings.settings.text.label",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.text.settings.text_style.settings.options__1.label"
            },
            {
              "value": "body",
              "label": "t:sections.image-with-text.text.settings.text_style.settings.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.text.settings.text_style.name"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-banner.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_select",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.settings.settings.button_select.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.settings.settings.button_select.secondary.label"
            },
            {
              "value": "link",
              "label": "t:sections.settings.settings.button_select.link.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.settings.settings.button_select.default.label"
        },
        {
          "id": "button_label",
          "type": "text",
          "default": "Button label",
          "label": "t:sections.settings.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.settings.settings.link.label",
          "default": "/"
        },
        {
          "type": "checkbox",
          "id": "disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        },
        {
          "type": "select",
          "id": "second_button_select",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.settings.settings.button_select.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.settings.settings.button_select.secondary.label"
            },
            {
              "value": "link",
              "label": "t:sections.settings.settings.button_select.link.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.settings.settings.button_select.default.label"
        },
        {
          "id": "second_button_label",
          "type": "text",
          "default": "Button label",
          "label": "t:sections.settings.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:sections.settings.settings.link.label",
          "default": "/"
        },
        {
          "type": "checkbox",
          "id": "second_disable_on_mobile",
          "label": "t:sections.global.disable_on_mobile",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo banner with Text"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
